@using TradingPlatform.Enums
@using TradingPlatform.Models

<nav class="navbar navbar-default navbar-fixed-top">

<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mobile-top-bar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img alt="Brand" src="~/Content/images/logo.png" /></a>
    </div>
<div id="mobile-top-bar" class="collapse navbar-collapse">
<div id="navigation" class="nav navbar-nav">
    <ul>
            <li class="@(ViewBag.MenuAnchor == "main" ? "active" : "")">
                <a class="topmenu @(ViewBag.MenuAnchor == "main" ? "active" : "")" href="/">@LocalText.Inst.Get("link", "topmenu_main", "НА ГОЛОВНУ", "НА ГЛАВНУЮ")</a>
            </li>
            @*<li class="@(ViewBag.MenuAnchor == "rules" ? "active" : "")">
                <a class="topmenu @(ViewBag.MenuAnchor == "rules" ? "active" : "")" href="/rules">@LocalText.Inst.Get("link", "topmenu_rules", "ПРАВИЛА ТА ІНСТРУКЦІЇ", "ПРАВИЛА И ИНСТРУКЦИИ")</a>
            </li>*@
        <li class="nav-dropdown">
            <span>ПРАВИЛА</span><span class="caret"></span>
            @*<a class="topmenu @(ViewBag.MenuAnchor == "trade" ? "active" : "")" href="/trade">@LocalText.Inst.Get("link", "topmenu_trade", "ТОРГИ", "ТОРГИ")</a>*@
            <ul class="nav-dropdown-content">
                <li><a href="/accreditationrules">@LocalText.Inst.Get("text", "Menu.accreditationrules", "Акредитація", "Аккредитация")</a></li>
                <li><a href="/howituse">@LocalText.Inst.Get("text", "Menu.howituse", "Як цим користуватись", "Как этим пользоваться")</a></li>
                <li><a href="/faq">@LocalText.Inst.Get("text", "Menu.Faq", "Часті питання", "Частые вопросы")</a></li>
                <li><a href="/documents">@LocalText.Inst.Get("text", "Menu.Docs", "Типові документи", "Типовые документы")</a></li>
            </ul>
        </li>


      
            <li class="nav-dropdown">
                <span>@LocalText.Inst.Get("text", "Marketplace", "Торговий майданчик", "Торговая площадка")</span><span class="caret"></span>
                @*<a class="topmenu @(ViewBag.MenuAnchor == "trade" ? "active" : "")" href="/trade">@LocalText.Inst.Get("link", "topmenu_trade", "ТОРГИ", "ТОРГИ")</a>*@
                <ul class="nav-dropdown-content has-sec">

                    @*<li><a href="/offers">@LocalText.Inst.Get("text", "offers", "Пропозиції", "Предложения")</a></li>*@
                    <li class="nav-second-dropdown">
                        <a>@LocalText.Inst.Get("text", "offers", "Пропозиції", "Предложения")<span class='caret'></span></a>
                        <ul>
                            <li><a href="/offers/create">@LocalText.Inst.Get("link", "create", "Створити", "Создать")</a></li>
                            <li><a href="/offers">@LocalText.Inst.Get("link", "current", "Поточні", "Текущие")</a></li>
                            <li><a href="/offers/?actual=false">@LocalText.Inst.Get("link", "history", "Історія", "История")</a></li>
                            <li><a href="/trade/alldocs?filter=offers">@LocalText.Inst.Get("link", "docs", "Документи", "Документы")</a></li>
                        </ul>
                    </li>

                    @*<li><a href="/orders">@LocalText.Inst.Get("text", "proposal", "Заявки", "Заявки")</a></li>*@
                    <li class="nav-second-dropdown">
                        <a>@LocalText.Inst.Get("text", "proposal", "Заявки", "Заявки")<span class='caret'></span></a>
                        <ul>
                            <li><a href="/orders/create">@LocalText.Inst.Get("link", "create", "Створити", "Создать")</a></li>
                            <li><a href="/orders">@LocalText.Inst.Get("link", "current", "Поточні", "Текущие")</a></li>
                            <li><a href="/orders/?actual=false">@LocalText.Inst.Get("link", "history", "Історія", "История")</a></li>
                            <li><a href="/trade/alldocs?filter=orders">@LocalText.Inst.Get("link", "docs", "Документи", "Документы")</a></li>
                        </ul>
                    </li>

                    @*<li><a href="/trade">@LocalText.Inst.Get("text", "trades", "Торги", "Торги")</a></li>*@
                    <li class="nav-second-dropdown">
                        <a>@LocalText.Inst.Get("text", "trades", "Торги", "Торги")<span class='caret'></span></a>
                        <ul>
                            <li><a href="/trade/createtrade">@LocalText.Inst.Get("link", "create", "Створити", "Создать")</a></li>
                            <li><a href="/auction-buyer-future">@LocalText.Inst.Get("link", "auction-buyer-future", "Майбутні торги", "Будущие торги")</a></li>
                            <li><a href="/auction-buyer-current">@LocalText.Inst.Get("link", "auction-buyer-current", "Поточні торги", "Текущие торги")</a></li>
                            <li><a href="/auction-buyer-past">@LocalText.Inst.Get("link", "auction-buyer-past", "Минулі торги", "Прошедшие торги")</a></li>
                            <li>@Html.ActionLink(@LocalText.Inst.Get("link", "approvingLinkTrader", "Торги на модерації", "Торги на модерации"), "TradesOnApproving", "Trade")</li>
                            <li><a href="/trade/alldocs?filter=trades">@LocalText.Inst.Get("link", "docs", "Документи", "Документы")</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="nav-dropdown">
                <span>@LocalText.Inst.Get("text", "topmenu_info", "Інформація", "Информация")</span><span class="caret"></span>
                <ul class="nav-dropdown-content">
                    <li><a href="/therms">@LocalText.Inst.Get("link", "footer_userules", "Умови використання", "Условия использования")</a></li>
                    <li><a href="/about">@LocalText.Inst.Get("link", "footer_about", "Про нас", "О нас")</a></li>
                    <li><a href="/contacts">@LocalText.Inst.Get("label", "topmenu_contacts", "Наші контакти", "Наши контакты")</a></li>
                    <li><a href="/feedback">@LocalText.Inst.Get("link", "footer_feedback", "Зворотній зв’язок", "Обратная связь")</a></li>
                </ul>
            </li>
    </ul>
</div>
      <!-- <div class="leftMenu-wrapper"> -->
            @Html.Partial("LeftMenu")
      <!-- </div> -->
@if (!User.Identity.IsAuthenticated)
{
    <div id="auth" class="nav navbar-nav">
        <ul class="nav navbar-nav navbar-right">
            <li class="active">
                <!-- <div class="active"> -->
                <a href="/account/Register"><span class="glyphicon glyphicon-user"></span>@LocalText.Inst.Get("link", "regssterLink", "реєстрація", "регистрация")</a>
                <!-- </div> -->
            </li>
            <li>
                <!--  <div> -->
                <a href="/account/Login"><span class="glyphicon glyphicon-log-in"></span>@LocalText.Inst.Get("link", "loginLink", "вхід", "вход")</a>
                <!--  </div> -->
            </li>
        </ul>
    </div>
}
else
{

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

    }

    <div id="auth" class="nav navbar-nav navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li id="aut">
               <a><span id="user">@User.Identity.GetUserNamen(new ApplicationDbContext())</span></a>
            </li>
            <li>
               <!-- <div> -->
                    <a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-log-out"></span>@LocalText.Inst.Get("link", "logoffLink", "вихід", "выход")</a>
               <!-- </div> -->
            </li>
        </ul>
    </div>
}
</div>
</div>
</nav>