@model TradingPlatform.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}

@{
    using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        <h3>Страница регистрации</h3>
        <div class="row">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new {@class = "text-danger"})
            <div class="col-lg-7">
                @Html.TextBoxFor(m => m.Name, new {@class = "form-control auction-value", @placeholder = "Имя"})
            </div>
            <div class="col-lg-7">
                @Html.TextBoxFor(m => m.Phone, new {@class = "form-control auction-value", @placeholder = "Контактный телефон в формате +380ххххххххх"})
            </div>
            <div class="col-lg-7">
                @Html.TextBoxFor(m => m.Email, new {@class = "form-control auction-value", @placeholder = "E-mail"})
            </div>
            <div class="col-lg-7">
                @Html.TextBoxFor(m => m.Password, new {@class = "form-control auction-value", @placeholder = "Пароль"})
            </div>
            <div class="col-lg-7">
                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control auction-value", @placeholder = "Подтверждение пароля" })
            </div>
        </div>
        @*<div class="col-lg-7"><input type="text" name="name" class="form-control auction-value" placeholder="Имя *" maxlength="50" autofocus="" required=""></div>
            <div class="col-lg-7"><input type="tel" name="tel1" class="form-control auction-value" placeholder="Контактный телефон в формате +380(хх)ххх-хх-хх *" required=""></div>
            <div class="col-lg-7"><input type="email" name="email" class="form-control auction-value" placeholder="E-mail*" required=""></div>*@

        <h3>договор оферты</h3>
        <p id="contract">
            Публічний договір оферти:



            ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ "БФ ЦЕРТУС", в подальшому –PETROLEUM TRADING PLATFORM або РТР, в особі Директора Крашеніннікової Ірини Олегівни, що діє на підставі Статуту з одного боку, та Клієнт або Користувач з іншого боку, в подальшому Сторони, уклали цей Публічний договір про надання доступу до торгівельної платформи "PETROLEUM TRADING PLATFORM" в подальшому Торгівельна Платформа або ТП (далі –Договір) про наведене нижче:

            1. ПРЕАМБУЛА
            1.1. Цей Договір у відповідності до ст. 633 Цивільного кодексу України (далі ЦКУ) є публічним та відповідно до ст.641 ЦКУ є офіційною пропозицією (офертою) РТР, укласти Договір і містить істотні умови, необхідні для надання доступу до ТП. Згідно з ч.2 ст.642 ЦКУ у випадку наявності у сукупності таких умов, а саме: введення свого прізвища, ім'я та по батькові, введення свого контактного телефону (далі - Контактний телефон Клієнта) та адреси своєї електронної пошти (далі - Електронна пошта Клієнта) у відповідні поля сторінки мережі Інтернет де розміщений текст цього Договору, фізична особа цим самим засвідчує своє бажання укласти Договір (акцепт), і з цього моменту вона визначається як Клієнт.
            1.2. Клієнт вважається таким, що прийняв умови Договору в повному обсязі, без будь-яких застережень і винятків, з моменту натиснення віртуальної кнопки "Согласен с вышеизложенным". У разі незгоди Клієнта з якими-небудь із положень Договору, Клієнт не має права доступу до ТП. Остаточно Договір вважається укладеним з моменту направлення РТР з електронної адреси _______________ електронного поштового повідомлення на Електронну пошту Клієнта.
            1.3. Даний Договір має юридичну силу відповідно до ст. 633 ЦКУ і є рівносильним Договору, підписаному сторонами. На прохання Клієнта, РТР також може укласти паперовий Договір з підписами та печатками (у разі їх наявності) або договір у електронній формі засвідчений цифровими підписами та печатками (у разі їх наявності).
            1.4. Даний Договір є публічним і діє до його припинення будь-якою зі сторін у порядку, встановленому Договором.
            1.5. При незгоді з будь-якими змінами до умов цього Договору, Клієнт повинен припинити доступ до ТП в порядку, визначеному Договором. Якщо Клієнт на наступний день з дня оприлюднення (розміщення) на ТП будь-яких змін та/або доповнень до цього Договору, продовжує доступ до ТП, це означає, що Клієнт згоден із внесеними змінами та доповненнями.

            2. ТЕРМІНИ ТА ВИЗНАЧЕННЯ ДОГОВОРУ

            2.1. Клієнт – будь-яка фізична особа, що відповідно до пункту 1.1 цього Договору дала згоду на його укладання. Всі Клієнти за Договором набувають рівних прав та обов‘язків.
            2.2. Обробка інформації (даних) - вся сукупність операцій щодо даних в тому числі, але не виключено: збирання, введення, записування, перетворення, зчитування, зберігання, знищення, реєстрація, що здійснюються за допомогою технічних і програмних засобів, включаючи обмін по каналах передачі даних.
            2.3. Адреса мережі Інтернет - визначений чинними в Інтернеті міжнародними стандартами цифровий та/або символьний ідентифікатор доменних імен в ієрархічній системі доменних назв.
            2.4. Адреса в мережі Інтернет для ТП - на дату укладання цього Договору ___________________________.
            2.5. Особистий кабінет Клієнта - графічне відображення інформації (даних) щодо Клієнта, що розміщена на спеціальному сервері в мережі Інтернет, до яких він може отримати доступ для перегляду і обробки ввівши адресу мережі Інтернет зазначену в пункті 2.4 цього Договору, а потім індивідуальні ідентифікатори: Електронну пошту Клієнта та пароль - унікальну сукупність цифр, букв та символів, що у сукупності дають можливість ідентифікувати Клієнта.
            2.6. Торгівельна Платформа або ТП - сукупність програмно-технічних засобів, процедур та правил, баз даних, використання яких дає змогу Клієнту отримувати інформацію розміщену на ТП, в тому числі інформацію (дані) щодо Клієнта, а також організовувати та проводити електронні торги нафтопродуктами.
            2.7. Персональні дані - визначаються, згідно з відповідним законодавчим актом України.
            2.8. Правила ТП – правила торговельної платформи, розміщені за адресою: ___________________________.

            3. ПРЕДМЕТ ДОГОВОРУ

            3.1 РТР зобов’язується обробляти дані Клієнта та надання Клієнту можливості доступу до іншої інформації, що розміщена на ТП, в обсязі визначеному РТР, і включає:
            3.1.1. Укладання цього Договору з Клієнтом.
            3.1.2. Обробку персональних даних Клієнта в обсязі необхідному для виконання цього Договору.
            3.1.3. Надання Клієнтові інформації щодо технічних та інформаційних можливостей ТП, щодо виду, типу, строків проведення торгів, які будуть проводитися на ТП, щодо результатів торгів, які були проведені на ТП в обсязі, який визначається РТР.
            3.1.3. Ознайомлення Клієнта з умовами, правилами, договорами та іншими формальностями, які необхідні Клієнтові для початку його участі у Торгах, як у якості покупця, так і у якості продавця нафтопродуктів.
            3.1.4. надання Клієнтові іншої інформації в обсязі, який визначається РТР, в тому числі, але не виключно______________________________________________________________________________.


            4. ПРАВА ТА ОБОВ’ЯЗКИ СТОРІН

            4.1. Клієнт має право на:
            4.1.1. Своєчасне і якісне отримання інформації зазначеної у розділі 3 цього Договору.
            4.1.2. Отримання від ТП вичерпної інформації про зміст, якість порядок розкриття інформації на ТП.
            4.1.3. Безоплатне вилучення персональних даних Клієнта повністю або частково з ТП, або внесення змін до таких даних, а також користуватися іншими правами, наданими Законом України "Про захист персональних даних".
            4.1.4. Одностороннє розірвання цього Договору в будь-який момент, про що він повідомляє ТП шляхом надіслання повідомлення на адресу електронної пошти _________________ зі Електронної пошти Клієнта.
            4.1.5. В будь-який час змінити Електронну пошту Клієнта або Контактний телефон Клієнта[КНВ1].
            4.2. Клієнт зобов’язаний:
            4.2.1. Виконувати умови Договору та дотримуватись вимог чинного законодавства України.
            4.2.3. Негайно, але не пізніше 24-годин після повідомляти ТП шляхом надіслання повідомлення на адресу електронної пошти _________________ з Електронної пошти Клієнта про проблеми, що виникли з доступом до ТП або із складнощами у зв'язку із отриманням інформації з ТП.
            4.2.4. Зберігати індивідуальні ідентифікатори: Електронна пошта Клієнта та пароль, що дають можливість ідентифікувати Клієнта в таємниці та не розголошувати їх третім особам.
            4.2.5. Негайно, але не пізніше 24-годин після виявлення обставин, які свідчать про можливе розкриття індивідуальних ідентифікаторів повідомити про це ТП шляхом надіслання повідомлення на адресу електронної пошти _________________ з адреси електронної пошти, що становить його індивідуальний ідентифікатор.
            4.2.6. У разі розкриття або у інший спосіб використання інформації, що міститься на ТП, обов'язково посилатися на назву ТП та Адресу мережі Інтернет для ТП;
            4.2.7. Не здійснювати будь-які дії щодо:
            - несанкціоноване втручання в роботу ТП;
            - спотворення процесу обробки інформації в ТП;
            - порушувати, встановлений РТР, порядку маршрутизації інформації в ТП;
            - блокування у будь-який спосіб роботи ТП;
            - використовувати шкідливі програмні та технічні засоби, які можуть зашкодити роботі ТП;
            - несанкціоновано використовувати або розповсюджувати у будь-який спосіб конфіденційну інформацію в тому числі, але невиключно персональні дані або дані, що становлять комерційну таємницю і міститься в ТП;
            - перешкоджати роботі ТП у будь-який інший спосіб, в тому числі розповсюдження масових повідомлень електрозв'язку.
            4.3. РТР має право:
            4.3.1. В односторонньому порядку змінювати налаштування, дизайн, графічні матеріали ТП.
            4.3.2. В односторонньому порядку розірвати цей договір шляхом надіслання на електронну пошту Клієнта, що становить його індивідуальний ідентифікатор, з адреси електронної пошти ___________________. В такому разі РТР одночасно з розірванням цього Договору видаляє з ТП будь-які персональні дані Клієнта, що стали йому відомі.
            4.3.3. Переривати роботу ТП у випадку проведення профілактичних робіт, про що Клієнти повідомляються на ТП або шляхом направлення відповідного повідомлення на Електронну пошту клієнта.
            4.4. РТР зобов’язане:
            4.4.1. Цілодобово підтримувати належну працездатність та он-лайн доступ до ТП і Особистого кабінету Клієнта.
            4.4.2. Забезпечити надійний та безпечний обмін інформацією між ТП та Клієнтами.
            4.4.3. Забезпечити конфіденційність персональних даних Клієнтів.
            4.4.4. Розміщувати на ТП актуальну контактну інформацію та можливі засоби зв‘язку з представниками РТР

            5. ЗМІНА УМОВ ДОГОВОРУ

            5.1. Внесення будь-яких змін до умов цього Договору здійснюється шляхом викладення на ТП нової редакції Договору, при цьому нова редакція вступає в дію з часу, зазначеному на ТП, але не раніше ніж у 00 годин 00 хвилин за київським часом наступного дня від дати оприлюднення нової редакції Договору на ТП. Факт користування Клієнтом ТП з дня дії нової редакції Договору є акцептом Клієнта з новою редакцією Договору, в іншому випадку (за відсутності акцепту Клієнта) Клієнт повинен припинити користування ТП та повідомити про це РТР шляхом надсилання повідомлення про припинення користування на адресу електронної пошти ________________________.


            6. СТРОК ДІЇ ДОГОВОРУ

            6.1. Договір є укладеним починаючи з дати, коли клієнт вчинив всі дії, що передбачені пунктами 1.1 1.2 цього Договору, та діє безстроково до дати коли Клієнт повідомить про розірвання Договору або РТР розірве Договір на умовах зазначених у Договорі.

            7. ВИРІШЕННЯ СПОРІВ

            7.1. Будь-які спори, що виникають у процесі виконання цього Договору та у зв’язку з ним, підлягають вирішенню шляхом переговорів, а при неможливості досягти згоди - у порядку, передбаченому чинним законодавством України.

            8. КОНФІДЕНЦІЙНА ІНФОРМАЦІЯ

            8.1. Сторони визначають як конфіденційну і зобов’язуються не розголошувати наступну інформацію: індивідуальні ідентифікатори Клієнта та його персональні дані.
            8.2. Прийнявши умови цього Договору Сторони засвідчують розуміння усіх негативних наслідків розголошення інформації зазначеної в пункті 8.1.

            9. ВІДПОВІДАЛЬНІСТЬ ТА ЗВІЛЬНЕННЯ ВІД ВІДПОВІДАЛЬНІСТІ

            9.1. Сторони за цим Договором несуть відповідальність відповідно до законодавства України.
            9.2. У разі порушення пункту 4.2.7 цього Договору Клієнт зобов’язаний відшкодувати всі збитки, завдані РТР.
            9.3. РТР не несе відповідальності за якість каналів зв'язку загального користування та перебої в електромережі, а також мережі передачі даних, за допомогою яких здійснюється доступ до ТП, за стан і справність, ремонт та обслуговування будь-яких програмно-технічних засобів, що не входять в зону його контролю.
            9.4. Клієнт надає згоду на те, що у випадку порушення ПРАВИЛ ТП до нього, як і до юридичних осіб, зареєстрованих таким Клієнтом на ТП можуть бути накладені адміністративні санкції (тимчасове блокування, «бан» тощо). При застосуванні адміністративних санкцій останні можуть застосовуватися не лише до Клієнта, але й до будь-якої юридичної особи, зареєстрованої таким Клієнтом, чи до всієї групи юридичних осіб.
            У випадку, коли одна й та сама юридична особа управляється на ТП декількома Клієнтами, адміністративні санкції переважно застосовуються лише до конкретного Клієнта, який порушив ПРАВИЛА ТП і не застосовуються до юридичних осіб та інших Клієнтів, що здійснюють управління тими самими юридичними особами.
            У випадку виявлення РТР зловживань зі сторони будь-якого Клієнта із групи Клієнтів, що здійснюють управління одними й тими самими юридичними особами, РТР має право застосувати адміністративні санкції не лише до конкретного Клієнта, а й до всіх Клієнтів та всіх юридичних осіб, які управляються такими Клієнтами.

            10. ІНШІ УМОВИ

            10.1. Уклавши цей Договір, Клієнт засвідчує цілковите розуміння його тексту, в тому числі підстави виникнення, зміст, строки та умови виконання визначених ним зобов’язань, та відсутність будь-яких заперечень чи зауважень щодо нього.
            10.2. Після здійснення дій, зазначених у пункті 1.1 цього Договору, Клієнт:
            а) надає свою згоду на обробку та передачу своїх персональних даних з метою належного виконання умов цього Договору;
            б) надає згоду на отримання Клієнтом від РТР СМС-повідомлень, телефонних дзвінків, електронних листів, повідомлень на ТП в Індивідуальному кабінеті Клієнта з метою виконання цього Договору, при цьому обсяг інформації, яку РТР вважає за необхідне повідомити Клієнту та спосіб такого повідомлення визначається самим РТР;
            в) зобов’язується перевіряти загальновідому інформацію, розміщену в ТП, або за адресою в мережі Інтернет для ТП.

            МІСЦЕЗНАХОДЖЕННЯ, КОНТАКТИ ТА РЕКВІЗИТИ РТР:
            ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ "БФ ЦЕРТУС
            Код ЕДРПОУ: 38914110
            Місцезнаходження: м. Київ, провулок Киянівський, буд. № 3-7
            Телефон: (044) 354-08-86
            Ел.пошта: info@bccertus.com
            Не є платником ПДВ.
        </p>
        @*<label>
                <input name="aply-offert" type="checkbox" class="checkbox auction-value" id="box" required="">
                <label for="box"></label>
                Согласен с вышеизложенным
            </label>*@


        @*<div id="captcha">
                <div class="g-recaptcha" data-sitekey="6LexvQYTAAAAAMUnPWKb33Rk2whdukBeFteuKQlt"><div><div style="width: 304px; height: 78px;"><iframe src="https://www.google.com/recaptcha/api2/anchor?k=6LexvQYTAAAAAMUnPWKb33Rk2whdukBeFteuKQlt&amp;co=aHR0cDovL3B0cC5raWV2LnVhOjgw&amp;hl=en&amp;v=r20160119135516&amp;size=normal&amp;cb=yps5ovmqdaoa" title="recaptcha widget" width="304" height="78" role="presentation" frameborder="0" scrolling="no"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;  display: none; "></textarea></div></div>
            </div>
            <input type="hidden" name="action" class="auction-value" value="users/create">
            <input type="submit" data-form="registration" value="регистрация">*@
        <label>
            <input type="checkbox" class="checkbox auction-value" name="Apply" id="Apply" required="">
            <label for="Apply"></label>
            Согласен с вышеизложенным

        </label>
        <div id="captcha">
            <div style="width: 304px; height: 78px;"></div>
        </div>


        <input type="submit" value="регистрация"/>

    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}