@model TradingPlatform.Models.DirectoryModel.DirectoryViewModel
@{
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "tableBody",
        OnSuccess = "OnSuccess",
        OnBegin = "OnBegin(this)"
    };
}
@using (Ajax.BeginForm("Edit", null, ajaxOptions, new { @id = "form-" + Model.Code, @dataId = Model.Code }))
{
    <tr data-id="@Model.Code" class="active">
        <td>
            @if (Model.Values.Count() > 0)
            {
                <a role="button" data-toggle="collapse" class="collapsed" href="#@Model.Code" aria-expanded="true" aria-controls="@Model.Code">
                    <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                    <i class="fa fa-minus-square-o" aria-hidden="true"></i>
                </a>
            }
        </td>
        <td colspan="2">
            @Html.TextBox("ru", Model.ru, new { @class = "form-control" })
            <hr />
            @Html.TextBox("DescriptionRu", Model.DescriptionRu, new { @class = "form-control" })

        </td>
        <td colspan="2">
            @Html.TextBox("uk", Model.uk, new { @class = "form-control" })
            <hr />
            @Html.TextBox("DescriptionUk", Model.DescriptionUk, new { @class = "form-control" })
        </td>
        <td>
            @Html.Hidden("Id", Model.Id)
            @Html.Hidden("Code", Model.Code)
            <a class="btn btn-default" href="#" onclick="return EditDir(@Model.Code);">
                <i class="fa fa-pencil fa-lg"></i>
                <i class="fa fa-refresh  fa-spin fa-lg hidden"></i>
                <i class="fa fa-check fa-lg hidden"></i>
            </a>
        </td>
    </tr>
    }
@if (Model.Values.Count() > 0)
{
    <tr>
        <td colspan="6">
            <div id="@Model.Code" class="collapse">
                <table class="table table-bordered table-hover">
                    @foreach (var item in Model.Values)
                    {
                        @Html.Partial("DirectoryValueView", item)
                    }
                </table>
            </div>
        </td>
    </tr>
}
