@model TradingPlatform.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = @LocalText.Inst.Get("title","frogotPassword","Зміна пароля","Смена пароля");
}
<div class="create-auction title">
    <a class="ref" href="#hint" onclick="OpenHelpDialog('forgotpass')">?</a> 
    <h3>@ViewBag.Title</h3>
    <hr />
</div>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form",id="submitForm" }))
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control auction-value" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit">@LocalText.Inst.Get("label", "rememberPassword", "Нагадати пароль", "Напомнить пароль")</button>
            @*<input type="submit" class="btn btn-default" value="@LocalText.Inst.Get("label", "rememberPassword", "Нагадати пароль", "Напомнить пароль")"/>*@
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@*<h3>Смена пароля</h3>
<form id="amnezia" method="POST">
    <div class="row form-group">
        <div class="col-lg-5">
            <input name="email" type="email" class="form-control auction-value">
        </div>
        <label class="col-lg-5">Введите e-mail регистрации</label>
    </div>
    <input type="hidden" name="lang" class="action_filters" value="ru">
    <input type="hidden" name="action" class="auction-value" value="users/resetPassword">
    <input type="submit" data-form="amnezia" value="Напомнить">
</form>*@