@using reCAPTCHA.MVC
@model TradingPlatform.Models.RegisterViewModel
@{
    ViewBag.Title = @LocalText.Inst.Get("label", "registerLabel", "Реєстрація", "Регистрация");
}
<div class="create-auction title">
    <a class="ref" href="#hint" onclick="OpenHelpDialog('register')">?</a>
    <h3>@ViewBag.Title</h3>
    <hr />
</div>
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id="submitForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
   @*<span class="text-danger">@LocalText.Inst.Get("password", "AttentionPass", "Увага! Довжина паролю - не менше восьми символів. Букви в паролі повинні бути тільки з латинського алфавіту. В паролі повинна бути хоча б одна велика буква, хоча б одна маленька буква і хоча б одна цифра", "Внимание! Длина пароля не менее восьми символов. Буквы в пароле должны быть только из латинского алфавита. В пароле должна быть хотя бы одна заглавная буква, хотя бы одна строчная буква и хотя бы одна цифра.")</span>*@ 
    <div class="form-group">
        @Html.LabelFor(m => m.Name, LocalText.Inst.Get("label", "userName", "Им’я", "Имя"), new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control auction-value", @placeholder = LocalText.Inst.Get("label", "userNamelaceholder", "Іванов Іван Тимофійович", "Тимофеев Иван Иванович") })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, LocalText.Inst.Get("label", "userEmail", "Email", "Email"), new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control auction-value", @placeholder = LocalText.Inst.Get("label", "userEmailPlaceholder", "ivanov@company.com", "ivanov@company.com") })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Phone, LocalText.Inst.Get("label", "userPhone", "Телефон", "Телефон"), new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control auction-value", @title = "",@placeholder = "+380509379992"})
            @*<div class="user_phone">
                <input type="text" placeholder="(___) ___ __ __" id="Phone" name="Phone" class="form-control auction-value" required title="Формат: (050) 937 99 92" pattern="[0-9_-]{10}" />
            </div>*@
            @*@Html.TextBoxFor(m => m.Phone, new { @type="tel", @class = "", @placeholder = "(___) ___ __ __", , title = "" })*@
            @Html.ValidationMessageFor(m => m.Phone, "", new {@class = "text-danger"})
        </div>
    </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password, LocalText.Inst.Get("label", "userPass", "Пароль", "Пароль"), new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                
                @Html.PasswordFor(m => m.Password, new {@class = "form-control auction-value pwd", @placeholder = LocalText.Inst.Get("label", "userPassPlaceholdeкr", "Прописні, строкові букви і цифри", "Прописные, строчные буквы и цифры"),@title=@LocalText.Inst.Get("password", "AttentionPass", "Увага! Довжина паролю - не менше восьми символів. Букви в паролі повинні бути тільки з латинського алфавіту. В паролі повинна бути хоча б одна велика буква, хоча б одна маленька буква і хоча б одна цифра", "Внимание! Длина пароля не менее восьми символов. Буквы в пароле должны быть только из латинского алфавита. В пароле должна быть хотя бы одна заглавная буква, хотя бы одна строчная буква и хотя бы одна цифра.")})
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" id="password-progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0">
                        <span class="sr-only">0% Complete (danger)</span>
                        <span id="progress-bar-text" style="color: #000;"></span>
                    </div>
                </div>
                @*@Html.ValidationMessageFor(m => m.Password, LocalText.Inst.Get("hunt","PasswordRequirements", "Пароль повинен складатись з маленьких та великих латинських символів і містити цифри (мінімальна довжина - 6 символів)", "Пароль должен состоять из маленьких и больших латинских символов и содержать цифры (минимальная длина - 6 символов)"), new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, LocalText.Inst.Get("label", "userConfirmPass", "Підтвердження паролю", "Подтверждение пароля"), new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control auction-value", @placeholder = LocalText.Inst.Get("label", "passConfirmPassPlaceholder", "Те ж саме, що і в полі вище", "То же, что и в поле выше") })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
    <h3>@LocalText.Inst.Get("label", "offertaText", "Договір оферти", "Договор оферты")</h3>

    <p id="contract">
                            ПУБЛІЧНИЙ ДОГОВІР ОФЕРТИ
                            Petroleum Trading Platform
    ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ «ІНТЕГРО ІТ», в подальшому –
    «Оператор Petroleum Trading Platform» або «Оператор РТР» або «Оператор», в особі Директора Кисельова
    Даніїла Анатолійовича, який діє на підставі Статуту, з одного боку,
    та
    ЗАРЕЄСТРОВАНИЙ КОРИСТУВАЧ, особа, яка відкрила текст цього Договору та здійснила дії,
    передбачені пунктом 1.1. цього Договору, з іншого боку, в подальшому разом «Сторони», а кожна окремо –
    «Сторона»,
    уклали цей Публічний договір оферти про надання доступу до електронного торгового майданчика
    «Petroleum Trading Platform» в подальшому – «Електронний Торговий Майданчик», або «РТР», або «ЕТМ»
    (далі – «Договір») про наведене нижче:
    1. Преамбула
    1.1. Цей Договір відповідно до ст. 633 Цивільного кодексу України (далі – «ЦК України») є публічним, а
    згідно зі ст. 641 ЦК України є офіційною пропозицією (офертою) Оператора РТР укласти Договір
    оферти про надання доступу до ЕТМ.
    Цей Договір містить всі достатні для Зареєстрованого Користувача істотні умови, необхідні для
    надання доступу до ЕТМ. Згідно із ч. 2 ст. 642 ЦК України у випадку наявності у сукупності таких
    умов, як: введення свого прізвища, ім’я, по-батькові, введення свого контактного телефону (далі –
    «Контактний телефон Зареєстрованого Користувача») та адреси своєї електронної пошти (далі –
    «Електронна пошта Зареєстрованого Користувача») у відповідні поля сторінки мережі Інтернет, де
    розміщений текст цього Договору, особа цим самим засвідчує своє бажання укласти Договір (акцепт),
    і з цього моменту вона визначається як Зареєстрований Користувач.
    1.2. Зареєстрований Користувач вважається таким, що прийняв умови Договору в повному обсязі, без будь-
    яких застережень і винятків, з моменту проставлення «галочки» навпроти віртуальної кнопки «Згоден
    з вищевикладеним». У разі незгоди Зареєстрованого Користувача з будь-якими положеннями цього
    Договору, Зареєстрований Користувач не має права доступу до Закритої частини РТР. Остаточно
    Договір вважається укладеним з моменту направлення Оператором РТР з електронної адреси
    info@ptp.ua електронного поштового повідомлення на Електронну пошту Зареєстрованого
    Користувача, що була внесена ним до реєстраційної форми.
    1.3. Даний Договір має юридичну силу відповідно до ст. 633 ЦК України і є рівносильним Договору,
    підписаному Сторонами.
    1.4. Даний Договір є публічним і діє до його припинення будь-якою зі Сторін у порядку, встановленому
    Договором.
    1.5. При незгоді з будь-якими змінами до умов цього Договору, Зареєстрований Користувач повинен
    припинити доступ до ЕТМ в порядку, визначеному Договором. Якщо Зареєстрований Користувач на
    наступний день з дня оприлюднення (розміщення) на ЕТМ будь-яких змін та/або доповнень до цього
    Договору, продовжує доступ до ЕТМ, це означає, що Зареєстрований Користувач згоден із внесеними
    змінами та доповненнями.
    2. Терміни та визначення договору
    2.1. «Petroleum Trading Platform», або «Електронний Торговий Майданчик», або «РТР» – програмно-
    апаратний комплекс, призначений для організації та проведення закупівель нафтопродуктів в
    електронній формі на сайті в мережі Інтернет: www.ptp.ua
    2.2. «Оператор РТР» – ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ «ІНТЕГРО ІТ»,юридична
    особа, що володіє ЕТМ, у тому числі необхідними для його функціонування програмно-апаратними
    засобами, і забезпечує проведення торгово-закупівельних процедур в електронній формі.
    2.3. «Незареєстрований Користувач» – потенційний клієнт (потенційний Зареєстрований Користувач), який
    не пройшов процедуру реєстрації і користується мінімальним доступом до ресурсів РТР, який полягає
    виключно в ознайомленні з мінімальним (загальнодоступним) обсягом інформації.
    2.4. «Зареєстрований Користувач» – фізична особа, яка здійснила процедуру реєстрації, ввівши свої
    персональні дані відповідно до п. 1.1. цього Договору, а також закріпила ці дані за відповідною
    електронною адресою. Зареєстрованим Користувачем особа стає з моменту отримання нею на
    електронну пошту, вказану при реєстрації, листа – підтвердження від Оператора РТР.
    2.5. «Акредитований Користувач» – Зареєстрований Користувач, який пройшов процедуру акредитації
    Оператором РТР, у відповідності до цього Договору та правил акредитації, та має право користуватися
    послугами РТР, у якості Продавця та/або Покупця.
    2.6. «Акредитація» – сукупність процедур, згідно з якими Зареєстрований Користувач, діючи від імені
    Юридичної особи ідентифікує юридичний статус суб'єкта господарювання шляхом подання
    відповідної заяви (заяв), документів, що запитуються Оператором РТР, та підтверджують внесені при
    реєстрації дані.
    2.7. «Відкрита частина РТР» – загальнодоступна частина РТР, доступна Незареєстрованим Користувачам.
    2.8. «Закрита частина РТР» – частина РТР, доступна тільки Зареєстрованим Користувачам.
    2.9. «Торги» – організаційна форма торгівлі, яка реалізує конкурсний метод укладання договорів купівлі-
    продажу на нафтопродукти з попередньо визначеними характеристиками та вимогами. Проведення
    Торгів забезпечується Оператором РТР.
    Торги можуть бути створені в будь-який час, натомість перед цим вони проходять модерацію у
    Оператора ЕТП. Модерація та затвердження торгів здійснюється в робочі дні з 9-00 до 18-00 за
    Київським часом протягом однієї години. Торги зявляються на сайті лише після їх модерації та
    затвердження Оператором ЕТП.
    2.10. «Лот» – це мінімальна за кількістю та вартістю партія нафтопродуктів зазначеної якості, що
    пропонується для продажу на РТР.
    2.11. «Обробка інформації (даних)» – вся сукупність операцій щодо даних в тому числі, але не виключено:
    збирання, введення, записування, перетворення, зчитування, зберігання, знищення, реєстрація, що
    здійснюються за допомогою технічних і програмних засобів, включаючи обмін по каналах передачі
    даних.
    2.12. «Адреса мережі Інтернет» – визначений чинними в Інтернеті міжнародними стандартами цифровий
    та/або символьний ідентифікатор доменних імен в ієрархічній системі доменних назв.
    2.13. «Адреса в мережі Інтернет для ЕТМ» – на дату укладання цього Договору: www.ptp.ua
    2.14. «Особистий кабінет Зареєстрованого Користувача» – графічне відображення інформації (даних) щодо
    Зареєстрованого Користувача, що розміщена на спеціальному сервері в мережі Інтернет, до яких він
    може отримати доступ для перегляду і обробки, ввівши адресу мережі Інтернет, зазначену в пункті 2.13
    цього Договору, а також індивідуальні ідентифікатори: Електронну пошту Зареєстрованого
    Користувача та пароль - унікальну сукупність цифр, букв та символів, що у сукупності дають
    можливість ідентифікувати Зареєстрованого Користувача.
    2.15. «Персональні дані» – визначаються згідно з відповідним законодавчим актом України.
    2.16. «Бан» – один із способів контролю за діями Зареєстрованих Користувачів, що полягає в обмеженні
    певних їх прав та/або доступу до деяких функціональних можливостей РТР.
    3. Предмет договору
    3.1. Цей Договір розроблений на основі та у відповідності до вимог чинного законодавства України та є
    публічним і безстроковим договором, згідно з яким Оператор РТР надає доступ Зареєстрованому
    Користувачу до користування ЕТМ на умовах, викладених у цьому Договорі, а Зареєстрований
    Користувач, у свою чергу, зобов'язується користуватися ЕТМ у відповідності до умов цього Договору.
    3.2. Оператор РТР ознайомлює Зареєстрованого Користувача з умовами, правилами, договорами та іншими
    формальностями, які необхідні для початку його участі у Торгах, як у якості покупця, так і у якості
    продавця нафтопродуктів.
    4. Права та обов’язки сторін
    4.1. Зареєстрований Користувач має право на:
    4.1.1. своєчасне і якісне отримання доступу до ЕТМ;
    4.1.2. отримання від Оператора РТР вичерпної інформації про зміст та порядок розкриття інформації
    на ЕТМ;
    4.1.3. безоплатне вилучення своїх персональних даних повністю або частково з ЕТМ, або внесення
    змін до таких даних, а також користуватися іншими правами, наданими Законом України «Про
    захист персональних даних»;
    4.1.4. одностороннє розірвання цього Договору в будь-який момент, про що він повідомляє ЕТМ,
    шляхом надсилання повідомлення на адресу електронної пошти info@ptp.ua із Електронної
    пошти Зареєстрованого Користувача;
    4.1.5. зміну Контактного телефону Зареєстрованого Користувача.
    4.2. Зареєстрований Користувач зобов’язаний:
    4.2.1. виконувати умови Договору та дотримуватись вимог чинного законодавства України;
    4.2.2. зберігати індивідуальні ідентифікатори: Електронну пошту Зареєстрованого Користувача та
    пароль, які дають можливість ідентифікувати Зареєстрованого Користувача, в таємниці та не
    розголошувати їх третім особам;
    4.2.3. негайно, але не пізніше 24-годин після виявлення обставин, які свідчать про можливе
    розкриття індивідуальних ідентифікаторів, повідомити про це Оператора ЕТМ шляхом
    надсилання повідомлення на адресу електронної пошти info@ptp.ua з адреси електронної
    пошти, що становить його індивідуальний ідентифікатор;
    4.2.4. у разі розкриття або у інший спосіб використання інформації, що міститься на ЕТМ,
    обов'язково посилатися на назву ЕТМ та Адресу мережі Інтернет для ЕТМ;
    4.2.5. своєчасно (не пізніше 1 робочого дня) вносити зміни в інформацію про юридичну особу,
    направлену при Акредитації на РТР, у тому числі, але не виключно, інформацію про реквізити
    юридичної особи, а також своєчасно надавати Оператору РТР актуальні копії документів, які
    надавалися при Акредитації на РТР та/або свідчать про зміну інформації про реквізити
    юридичної особи;
    4.2.6. забезпечувати збереження в таємниці реєстраційні дані Зареєстрованого та/або
    Акредитованого Користувача, які були надані йому для роботи на РТР;
    4.2.7. при виникненні підозр про несанкціоноване використання реєстраційних даних третіми
    особами негайно повідомляти про це Оператора РТР;
    4.2.8. пройти Акредитацію на РТР відповідно до порядку, встановленого цим Договором;
    4.2.9. своєчасно оплачувати послуги Оператора РТР відповідно до положень Договору про надання
    послуг;
    4.2.10. чітко дотримуватися вимог Договору, які пов'язані з проведенням торгів на РТР, в тому числі
    своєчасно надавати Оператору РТР необхідну достовірну інформацію;
    4.2.11. відповідати наступним вимогам:
    - володіти необхідними сертифікатами на нафтопродукти відповідно до чинного
    законодавства України, у разі якщо юридична особа має статус «Продавця»;
    - не знаходитися в процесі ліквідації або не перебувати в процедурі банкрутства відповідно
    до Закону України «Про відновлення платоспроможності боржника або визнання його
    банкрутом»;
    - не бути суб'єктом господарювання, на майно якого накладено арешт за рішенням суду,
    органу виконавчої влади та/або не бути суб'єктом господарювання економічна діяльність,
    якого призупинено;
    - на запит Оператора РТР надавати довідку про відсутність заборгованості за нарахованими
    податками, зборами та іншими обов'язковими платежами;
    - іншим обов'язковим вимогам, встановленим чинним законодавством України;
    4.2.12. не здійснювати будь-які дії щодо:
    - несанкціонованого втручання в роботу РТР;
    - спотворення процесу обробки інформації в РТР;
    - порушення, встановленого РТР порядку маршрутизації інформації в РТР;
    - блокування у будь-який спосіб роботи РТР;
    - використання шкідливих програмних та/або технічних засобів, які можуть зашкодити
    роботі РТР;
    - несанкціонованого використання або розповсюдження у будь-який спосіб конфіденційної
    інформації в тому числі, але невиключно, персональних даних або даних, що становлять
    комерційну таємницю і міститься в РТР;
    - перешкоджання роботі РТР у будь-який інший спосіб;
    4.2.13. виконувати інші зобов'язання, передбачені цим Договором.
    4.3. Оператор РТР має право:
    4.3.1. в односторонньому порядку змінювати налаштування, дизайн, графічні матеріали ЕТМ;
    4.3.2. в односторонньому порядку розірвати цей Договір шляхом надсилання на електронну пошту
    Зареєстрованого Користувача, що становить його індивідуальний ідентифікатор, з адреси
    електронної пошти info@ptp.ua електронного повідомлення;
    4.3.3. переривати роботу ЕТМ у випадку проведення профілактичних робіт, про що розміщувати
    відповідні оголошення на ЕТМ або шляхом направлення відповідного повідомлення на
    Електронну пошту Зареєстрованого Користувача не пізніше ніж за 8 годин до такого
    переривання, окрім випадків дії обставин непереборної сили;
    4.3.4. перевіряти достовірність даних, наданих Зареєстрованим Користувачем під час акредитації;
    4.3.5. зупиняти доступ Зареєстрованого Користувача до роботи на РТР за недотримання положень
    цього Договору до повного усунення допущених порушень або припинити доступ
    Зареєстрованого Користувача до РТР на власний розсуд без будь-яких пояснень;
    4.3.6. використовувати інформацію про компанію Акредитованого Користувача (найменування,
    логотип, назва торгової марки) для розміщення на Відкритій частині РТР, а також
    застосовувати дану інформацію в рекламних матеріалах та презентаціях Оператора РТР;
    4.4. Оператор РТР зобов’язаний:
    4.4.1. підтримувати належну працездатність та он-лайн доступ до ЕТМ і Особистого кабінету
    Зареєстрованого Користувача;
    4.4.2. забезпечити надійний та безпечний обмін інформацією між ЕТМ та Зареєстрованими
    Користувачами;
    4.4.3. забезпечити конфіденційність персональних даних Зареєстрованих Користувачів;
    4.4.4. розміщувати на ЕТМ актуальну контактну інформацію та можливі засоби зв’язку з Оператором
    РТР;
    4.4.5. забезпечувати технічну можливість участі у Торгах, а також рівний (однаковий) доступ
    Акредитованих Користувачів до участі у Торгах, в тому числі до інформації про проведення
    Торгів, за умови дотримання ними умов цього Договору, за відсутності обставин непереборної
    сили (форс-мажорні обставини).
    5. Відповідальність сторін
    5.1. За невиконання або неналежне виконання зобов'язань за цим Договором Зареєстрований Користувач
    та Оператор РТР несуть відповідальність відповідно до чинного законодавства України.
    5.2. Оператор РТР не несе відповідальності за будь-які збитки, які понесли Зареєстровані Користувачі
    та/або їх юридичні особи з причини недотримання ними вимог цього Договору, а також у таких
    випадках:
    - відсутність у Зареєстрованого Користувача техніки з необхідним набором програмно-
    технічних можливостей, що задовольняють вимоги для роботи на РТР;
    - наявність програмно-технічних обмежень і налаштувань, які містилися у техніці, що не
    дозволило Зареєстрованому Користувачу повноцінно працювати на РТР;
    - неможливість роботи з причини зараження комп'ютерної техніки вірусами;
    - недоліки в роботі мережевих систем та обмеження, а також збоїв в роботі апаратно-
    технічного комплексу, що призвели до нерегламентованих і непередбачених тимчасових
    відключень від мережі Інтернет, і не дозволили повноцінно працювати на РТР;
    - порушення Зареєстрованим Користувачем будь-яких норм цього Договору.
    5.3. За порушення будь-яких норм цього Договору Оператор РТР має право в будь-який час без
    попередження та пояснення причин зупинити або припинити участь/роботу Зареєстрованого
    Користувача на РТР, про що Зареєстрований Користувач повідомляється на зазначену ним при
    реєстрації адресу електронної пошти.
    5.4. Оператор РТР має право формувати списки недобросовісних Зареєстрованих Користувачів (що
    порушують умови цього Договору) і розповсюджувати їх серед інших Зареєстрованих Користувачів
    на РТР.
    5.5. Оператор РТР попереджає Зареєстрованого Користувача, що у зв’язку зі специфікою роботи ЕТМ,
    можливі перебої та проблеми як з роботою, так і з доступом до РТР.
    У разі порушення умов цього Договору Зареєстрований Користувач зобов’язаний відшкодувати всі
    документально підтверджені збитки, завдані Оператору РТР.
    5.6. Оператор РТР не несе відповідальності за якість каналів зв'язку загального користування та перебої в
    електромережі, а також в мережі передачі даних, за допомогою яких здійснюється доступ до ЕТМ, за
    стан і справність, ремонт та обслуговування будь-яких програмно-технічних засобів, що не входять в
    зону його контролю.
    5.7. Зареєстрований Користувач надає згоду на те, що у випадку порушення цього Договору, до нього, так
    і до юридичних осіб, зареєстрованих таким Зареєстрованим Користувачем на ЕТМ можуть бути
    накладені адміністративні санкції (тимчасове блокування, «бан» тощо).
    5.8. У випадку, коли одна й та сама юридична особа управляється на ЕТМ декількома Зареєстрованими
    Користувачами, адміністративні санкції переважно застосовуються лише до конкретного
    Зареєстрованого Користувача, який порушив умови цього Договору, і не застосовуються до юридичних
    осіб та інших Зареєстрованих Користувачів, що здійснюють управління тими самими юридичними
    особами.
    5.9. У випадку виявлення Оператором РТР зловживань зі сторони будь-якого Зареєстрованого Користувача
    із групи Зареєстрованих Користувачів, що здійснюють управління одними й тими самими юридичними
    особами, Оператор РТР має право застосувати адміністративні санкції не лише до конкретного
    Зареєстрованого Користувача, а й до всіх Зареєстрованих Користувачів та всіх юридичних осіб, які
    управляються такими Зареєстрованими Користувачами.
    6. Вирішення спорів
    6.1. Технічна служба і фахівці Оператора РТР розглядають всі звернення, що поступили на розгляд
    Оператору РТР.
    6.2. Термін відповіді на звернення Зареєстрованому Користувачу становить не більше тридцяти днів з
    моменту отримання та реєстрації звернення за умови, що воно складено у належній формі.
    6.3. Оператор РТР залишає за собою право не відповідати на звернення, предмет яких не входить до
    компетенції Оператора РТР, або у інших випадках, якщо це передбачено цим Договором.
    6.4. У разі виникнення спору його Сторонами вважаються: Оператор РТР та Зареєстрований Користувач.
    6.5. Сторони повинні докласти всіх зусиль, щоб шляхом переговорів, або в претензійному порядку дійти
    до обопільного задоволення всіх спірних питань, що виникають між ними на підставі цього Договору
    та Договору послуг, діючи на підставі чинного законодавства України. Жодне положення цього пункту
    не означає, що Сторона спору позбавлена права безпосередньо (не проводячи переговори або не
    здійснюючи претензійну роботу) звернутися до суду за захистом свого порушеного права, внаслідок не
    виконання або неналежного виконання іншою Стороною цього Договору.
    7. Форс-мажор
    7.1. Сторони звільняються від відповідальності за повне або часткове невиконання прийнятих на себе
    згідно з Договором зобов'язань, якщо таке невиконання стало наслідком дії форс-мажорних обставин
    (обставинами непереборної сили), до яких відносяться надзвичайні та невідворотні обставини, що
    об'єктивно унеможливлюють виконання зобов'язань, передбачених умовами Договору, зокрема:
    загроза війни, збройний конфлікт або серйозна погроза такого конфлікту, включаючи але не
    обмежуючись ворожими атаками, блокадами, військовим ембарго, діями іноземного ворога, загальною
    військовою мобілізацією, військовими діями, оголошеною та неоголошеною війною, діями суспільного
    ворога, збуренням, актами тероризму, диверсіями, піратством, безладами, вторгненням, блокадою,
    революцією, заколотом, повстанням, масовими заворушеннями, введенням комендантської години,
    експропріацією, примусовим вилученням, захопленням підприємства, реквізицією, громадською
    демонстрацією, блокадою, страйком, аварією, протиправними діями третіх осіб, пожежею, вибухом,
    тривалими перервами в роботі транспорту, регламентованими умовами відповідних рішень та актами
    державних органів влади, закриттям морських проток, ембарго, забороною (обмеженням)
    експорту/імпорту, рішенням органів виконавчої влади або органів місцевого самоврядування, органів
    прокуратури, що унеможливлюють невиконання прийнятих на себе згідно з Договором зобов'язань
    тощо, а також викликані винятковими погодними умовами і стихійним лихом, а саме: епідемією,
    сильним штормом, циклоном, ураганом, торнадо, буревієм, повінню, нагромадженням снігу,
    ожеледдю, градом, заморозком, замерзанням моря, землетрусом, блискавкою, пожежею, посухою,
    просіданням і зсувом ґрунту, іншими стихійними лихами тощо. При цьому, строки або термін
    виконання зобов'язань за цим Договором відсуваються пропорційно часу, протягом якого діяли форс-
    мажорні обставини.
    7.2. Зареєстрований Користувач (Користувачі) та/або Оператор РТР повинні негайно (у розумно можливі
    строки) у будь-який допустимий спосіб повідомляти один одного про настання для будь-якого із них
    форс-мажорних обставини.
    7.3. Не повідомлення, або несвоєчасне повідомлення про настання обставин непереборної сили тягне за
    собою втрату права посилатися на такі обставини.
    7.4. На території України дія форс-мажорних обставин повинна бути підтверджена сертифікатом торгово-
    промислової палати України або уповноважених нею регіональних органів, на території інших держав
    компетентними органами таких держав. У разі, якщо форс-мажорні обставини виникли внаслідок
    рішень органів виконавчої влади або органів місцевого самоврядування, органів прокуратури, то
    достатнім підтвердженням їх існування буде засвідчена або незасвідчена копія відповідного рішення
    зазначених органів.
    8. Строк дії Договору, зміна умов та інші умови
    8.1. Внесення будь-яких змін до умов цього Договору здійснюється шляхом викладення на ЕТМ нової
    редакції Договору, при цьому нова редакція вступає в дію з моменту, викладення такої редакції на ЕТМ.
    За відсутності акцепту Договору у новій редакції, Зареєстрований Користувач втрачає можливість
    користуватися ЕТМ.
    8.2. Договір є укладеним починаючи з дати, коли Зареєстрований Користувач вчинив всі дії, що передбачені
    пунктами 1.1. та 1.2. цього Договору, та діє безстроково до дати коли Зареєстрований Користувач
    повідомить про розірвання Договору або Оператор РТР розірве Договір на умовах зазначених у
    Договорі.
    8.3. Жодна умова цього Договору не зобов'язує Оператора РТР забезпечувати, гарантувати або в інший
    спосіб сприяти Зареєстрованим Користувачам в укладанні договорів між ними, а також не може
    вважатися частиною таких договорів між юридичними особами Зареєстрованих Користувачів, якщо
    інше не буде обумовлено в таких договорах, за попередньою згодою Оператора РТР.
    8.4. Зареєстрований Користувач попереджається, що дії зазначені у пункті 4.2.12. цього Договору містять
    ознаки злочинів, що передбачені окремими статтями Розділу XVI Кримінального кодексу України
    «Злочини у сфері використання електронно-обчислювальних машин (комп'ютерів), систем та
    комп'ютерних мереж і мереж електрозв'язку».
    8.5. Для зручності Акредитованих Користувачів у Відкритій частині РТР розміщені типові договори
    купівлі-продажу нафтопродуктів та інші необхідні при укладенні угод документи, однак вони жодним
    чином не є обов’язковими і носять рекомендаційний характер.
    8.6. Зареєстрований Користувач засвідчує цілковите розуміння тексту Договору, в тому числі, але не
    виключно, підстави виникнення, зміст, строки та умови виконання визначених ним зобов’язань, та
    відсутність будь-яких заперечень чи зауважень щодо нього.
    8.7. Після здійснення дій, зазначених у пункті 1.1 цього Договору, Зареєстрований Користувач:
    а) надає свою згоду на обробку та передачу своїх персональних даних з метою належного виконання
    умов цього Договору;
    б) надає згоду на отримання Зареєстрованим Користувачем від Оператора РТР СМС-повідомлень,
    телефонних дзвінків, електронних листів, повідомлень на ЕТМ в Індивідуальному кабінеті
    Зареєстрованого Користувача з метою виконання цього Договору, при цьому обсяг інформації, яку
    Оператор РТР вважає за необхідне повідомити Зареєстрованому Користувачу та спосіб такого
    повідомлення визначається самим Оператором РТР.
    МІСЦЕЗНАХОДЖЕННЯ, КОНТАКТИ ТА РЕКВІЗИТИ ОПЕРАТОРА РТР:
    ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ «ІНТЕГРО ІТ»
    Ідентифікаційний код: 40933483
    Місцезнаходження: 02093, м. Київ, вул. Бориспільська, будинок 26 Д, офіс 6
    Телефон (044) 354-33-48; 354-33-46.
    Ел. пошта: info@ptp.ua
    Не є платником ПДВ.
    Платник Єдиного податку, 3 група
    Додаток до
    Договору публічної оферти
    Petroleum Trading Platform
    Правила
    Електронного Торгового Майданчика
    Petroleum Trading Platform
    1. Вимоги до автоматизованого робочого місця для роботи на РТР
    1.1. Доступ до РТР здійснюється через сайт в мережі «Інтернет», розміщений за адресою: www.ptp.ua.
    1.2. Вимоги до апаратних засобів робочого місця оператора:
    1.2.1. робоче місце має бути обладнане персональним комп’ютером або аналогічним за своїми
    функціональними можливостями електронним приладом: планшет або мобільний телефон, які
    працюють під управлінням операційних систем: Windows 7, Windows 8, Windows Phone, Linux,
    у тому числі Android - версії від 2.2-5.1, Mac OS та iOs, у тому числі сумісна з мобільними
    пристроями: iPhone, iPad;
    1.2.2. вимоги до Інтернет-браузера - версії: Chrome, Internet Explorer (не нижче 10 версії), Firefox,
    Safari та інші, що були розповсюджені після «01» січня 2014 року;
    1.2.3. необхідне постійне підключення до мережі Internet;
    1.2.4. мінімальна швидкість підключення – не менш, ніж 128 Kбіт/с;
    1.3. Вся інформація, окрім договорів, розміщується на РТР українською і російською мовами, окрім тих
    випадків, коли використання букв і символів української або російської мов призводить до її
    спотворення (адреси мережі «Інтернет», адреси електронної пошти, іноземні торговельні марки і
    загальноприйняті міжнародні терміни). Використання латинських та інших символів при написанні
    українських і російських слів не допускається.
    1.4. РТР здійснює своє функціонування за київським часом (EEST). Форматом застосування позначення
    дати на РТР є - день, місяць, рік, формат часу - години: хвилини і години: хвилини (де годинник
    вказуються в 24-годинному форматі).
    2. Правила Акредитації на РТР
    2.1. Для забезпечення доступу до Закритої частини РТР та участі в Торгах, що проводяться на РТР,
    Зареєстрованому Користувачу необхідно пройти процедуру Акредитації.
    2.2. Процедура Акредитації передбачає:
    2.2.1. Зареєстрований Користувач заповнює відповідну заявку, яка містить інформацію про суб'єкта
    господарювання, який буде приймати участь у Торгах на РТР, з одночасним визначенням статусу
    «Продавця» та/або «Покупця» такої юридичної особи (в подальшому ці статуси можуть бути
    змінені або відкликані, активування статусу здійснюється одночасно);
    2.2.2. Зареєстрований Користувач у день заповнення заявки на реєстрацію юридичної особи одночасно
    завантажує на сайт Оператора РТР відскановані копії наступних документів:
    1) статут юридичної особи (всі сторінки);
    2) протокол загальних зборів учасників про скасування існуючих обмежень у повноваженнях
    керівника щодо вчинення правочинів (в разі їх наявності в статуті);
    3) виписка з Єдиного державного реєстру юридичних осіб, фізичних осіб-підприємців та
    громадських формувань;
    4) витяг з Єдиного державного реєстру юридичних осіб, фізичних осіб-підприємців та
    громадських формувань на день активації з максимально повною інформацією (отримати
    витяг можна в електронній формі на сайті Міністерства юстиції України:
    https://usr.minjust.gov.ua/ з виділенням всіх «галочок» у формі заповнення інформації для
    вилучення);
    5) свідоцтво ПДВ або витяг з реєстру платників ПДВ (у разі, якщо юридична особа, що
    підлягає реєстрації на РТР, має статус платника ПДВ);
    6) свідоцтво або витяг з реєстру платників Єдиного податку (у разі, якщо юридична особа, що
    підлягає реєстрації на РТР, має статус платника Єдиного податку);
    7) довідка банку про відкриті рахунки для кожного рахунку, який був зазначений
    Зареєстрованим Користувачем при заповнені заявки на реєстрацію юридичної особи;
    8) довіреність на представника, якщо Договір підписує особа на підставі довіреності;
    9) наказ на співробітника, якщо договір підписує співробітник юридичної особи на підставі
    наказу, а статутом передбачено посаду виконуючого обов΄язки керівника;
    10) паспорт (1-4, 11 сторінки) (для фізичних осіб-підприємців);
    11) документ, що підтверджує реєстрацію платником акцизного податку (для платників
    акцизного податку).
    2.2.3. Оператор РТР має право запитати від Зареєстрованого Користувача, що подав заявку на
    реєстрацію суб'єкта господарювання, додаткові відомості, які необхідні для перевірки такого
    суб’єкта господарювання у кожному окремому випадку, Оператор має право перевіряти
    відомості про юридичну особу в будь-яких загальнодоступних джерелах, в тому числі базах
    даних.
    2.3. У строк не більше 5 (п'яти) робочих днів з моменту надходження документів та відомостей для
    Акредитації Оператор РТР повинен прийняти рішення про Акредитацію або відмову в Акредитації та
    повідомити про це Зареєстрованого Користувача.
    2.4. У разі прийняття рішення про відмову в Акредитації, на вказану Зареєстрованим Користувачем адресу
    електронної пошти надсилається повідомлення про відмову в Акредитації.
    2.5. Після усунення зазначених підстав для відмови в Акредитації Зареєстрований Користувач має право
    повторно подати заяву на Акредитацію, разом з тим, Оператор РТР може відмовити в Акредитації будь-
    якому Зареєстрованому Користувачеві без зазначення причин такої відмови;
    2.6. Зареєстрований Користувач повинен кожний документ, що зазначений у пункті 2.2.2. цих Правил ЕТМ,
    завірити підписом чинного повноваженого керівника (або довіреної особи за наявності відповідної
    довіреності) та скріпити печаткою. Всі документи в одному екземплярі необхідно протягом 5 (п’яти)
    календарних днів направити поштою за наступною адресою:
    02093, м. Київ, вул. Бориспільська, будинок 26 Д, офіс 6 (для ТОВ «ІНТЕГРО ІТ»).
    2.7. Акредитація Зареєстрованого Користувача може бути призупинена або анульована Оператором РТР у
    разі порушення зазначеною особою вимог цього Договору або порушення договірних зобов'язань, що
    виникли за результатами проведення Торгів. У такому випадку ця особа втрачає статус Акредитованого
    Користувача, а Договір вважається розірваним з моменту такого порушення. Оператор РТР має право
    на свій розсуд повідомляти або не повідомляти Зареєстрованого Користувача про причини
    призупинення або анулювання акредитації.
    3. Види та порядок проведення Торгів
    3.1. На РТР проводяться два види Торгів:
     Торги з фіксованим обсягом Лота;
     Торги зі змінним обсягом Лота.
    3.2. У разі проведення Торгів з фіксованим обсягом Лота, Акредитований Користувач виставляє на продаж
    певний фіксований обсяг нафтопродуктів. Акредитовані Користувачі - Потенційні Покупці можуть
    торгуватися лише за весь обсяг нафтопродуктів, зазначений у Лоті. При цьому, створюючи Торг із
    фіксованим обсягом Лота, крім комерційних умов Лота, Продавець визначає загальну кількість Лотів,
    що пропонуються для продажу.
    3.3. У разі проведення Торгів зі змінним обсягом Лота, Продавець виставляє на продаж певний обсяг
    нафтопродуктів, а Акредитовані Користувачі - Потенційні Покупці можуть торгуватися за певний
    обсяг нафтопродуктів, що не може бути меншим, ніж визначений умовами Лота, а також не може бути
    більшим загального обсягу нафтопродуктів, що торгуються згідно з цим Лотом.
    3.4. Покупці приймають участь у торгах шляхом здійснення ставок. Ставка - це пропозиція Покупця
    викупити Лот, а для Лота із змінним обсягом - пропозиція викупити певний обсяг нафтопродуктів за
    ціною вищою, ніж запропонована Продавцем при створенні Торгів або іншими Покупцями.
    3.5. Обов’язкові вимоги до обох видів Торгів, які визначаються та встановлюються Продавцями:
    - дата і час початку (мінімально за 30 хвилин від часу встановлення, у разі якщо дата та час початку
    Торгів не вказані, Торги не починаються) та закінчення (у разі, якщо дата та час закінчення Торгів
    не вказані, Торги не починаються) Торгів; дата (час) початку торгів не повинна бути меншою ніж
    30 хвилин від часу їх встановлення та не перевищувати сім календарних днів;
    - «ціна викупу» одиниці нафтопродуктів в Лоті є опціонною, не обов’язковою вимогою. У разі,
    якщо будь-яка ставка Акредитованого Користувача-Покупця досягає «ціни викупу» або
    перевищує її, то цей Лот (для Торгів із фіксованим обсягом Лоту), Обсяг (для Торгів із змінним
    обсягом Лоту) визнаються викупленими і знімаються з Торгів;
    - комерційні умови Торгів (початкова ціна, базис та строки поставки, вид транспорту, тощо)
    визначаються Акредитованими Користувачами - Продавцями у відповідних полях на РТР при
    створенні торгів;
    - додаткові умови, що мають істотне значення для Акредитованого Користувача – Продавця при
    укладанні договору купівлі – продажу нафтопродуктів.
    3.6. Переможцем Торгів з фіксованим обсягом Лота, у разі якщо на таких торгах торгується лише один Лот,
    вважається Покупець, який запропонував найвищу ціну за Лот на момент закінчення Торгів.
    3.7. Переможцем (переможцями) Торгів з фіксованим обсягом Лота, у разі якщо на таких торгах торгується
    декілька Лотів, вважається Покупець (Покупці), який/які запропонував(ли) найвищу ціну (ціни) за Лот
    (декілька Лотів) на момент закінчення Торгів.
    3.8. Переможцем (переможцями) Торгів зі змінним обсягом Лота вважається Зареєстрований Користувач -
    покупець (Зареєстровані Користувачі - покупці), який/які запропонували найвищу ціну (ціни) за обсяги
    нафтопродуктів, що включені до цього Лоту, на момент закінчення Торгів.
    3.9. У разі, якщо протягом строку дії Торгів жоден Акредитований Користувач-Покупець не зробив ставку,
    Торги визнаються такими, що не відбулися.
    3.10. У разі створення Торгів Акредитованим Користувачем - Продавцем, такі його дії вважаються
    офіційною публічною офертою продати нафтопродукти переможцю Торгів в обсягах та за ціною,
    якими було визначено переможця Торгів.
    3.11. Будь-яка ставка, зроблена Акредитованим Користувачем - Покупцем, якщо він згідно з цим Договором
    буде визнаний переможцем Торгів, вважається акцептом по відношенню до оферти, зробленої
    Акредитованим Користувачем - Продавцем, згідно з пунктом 3.10 цих Правил ЕТМ.
    3.12. Продавець та Покупець, зазначені у пунктах 3.10, 3.11 цих Правил ЕТМ зобов'язані негайно після
    завершення Торгів почати виконувати умови оферти, зробленої Акредитованим Користувачем -
    Продавцем. Вони також зобов'язані негайно розпочати дії щодо документального (у тому числі в
    електронному вигляді) оформлення своїх взаємовідносин у відповідності до законодавства України або
    іншого застосованого законодавства, щодо якого вони дійшли згоди, якщо це допускається
    законодавствам України.
    3.13. Акредитованим Користувачам категорично забороняється:
    - створювати Торги, а потім відмовлятися від їх проведення;
    - відмовлятися від укладання та виконання договору та/або угоди, які були укладені відповідно до
    пунктів 3.10., 3.11. цих Правил ЕТМ;
    - реєструвати та акредитувати на РТР суб'єктів господарювання, для здійснення фіктивної участі у
    Торгах;
    - приймати участь в одних і тих же Торгах у якості Покупця та Продавця.
    4. Конфіденційність та персональні дані
    4.1. Вся інформація, розміщена на РТР, у тому числі Зареєстрованими Користувачами, за виключенням
    інформації про реквізити Акредитованого Користувача, персональні дані його працівників, адреса
    (адреси), платіжні реквізити, - є власністю Оператора РТР.
    4.2. Відповідно до ст. 505 ЦКУ Оператор РТР визначає, що інформація, яка є власністю Оператора РТР, за
    виключенням тієї, що розміщена на відкритій частині РТР, Договору про надання послуг, цього
    Договору та типових договорів купівлі-продажу нафтопродуктів є комерційною таємницею Оператора
    РТР.
    4.3. За виключенням випадків прямо передбачених законами України, Оператор РТР забороняє
    Зареєстрованим Користувачам оприлюднювати або у інший спосіб користуватися інформацією, що є
    власністю Оператора РТР, а також передавати та/або розголошувати та/або поширювати її:
    - будь-яким фізичним особам, крім фізичних осіб, які є працівниками юридичних осіб (у визначенні
    п. 1.1. цього Договору) і відповідно до службових обов'язків, визначених відповідними
    розпорядчими документами, мають право ознайомлюватися з інформацією, яка стосується роботи
    РТР;
    - будь-яким юридичним особам, які не є акредитованими у відповідності до положень цього
    Договору та правил акредитації.
    Разом з тим, жодне положення цього пункту не позбавляє Акредитованого Користувача права на аналіз
    та обробку зазначеної інформації на власних електронних приладах.
    4.4. Зареєстрованим Користувачам дозволяється використовувати, поширювати та оприлюднювати у будь-
    який спосіб інформацію розміщену на відкритій частині РТР, а також інформацію щодо того, яким
    чином вони закупили нафтопродукти. Однак інформація щодо того, як Акредитовані Користувачі
    купили нафтопродукти, повинна поширюватися знеособлено. Допускається лише посилання на
    найменування сайту www.ptp.ua, на якому розміщена РТР.
    4.5. Оператор РТР не має право розголошувати інформацію про результати Торгів проведених на РТР, за
    виключенням випадків коли така інформація є узагальнюючою за певний період та знеособлена.
    4.6. Оператор РТР обробляє персональні дані працівників Акредитованого Користувача у наступних
    формах: збір, реєстрація, накопичення, зберігання, адаптування, зміна, відновлення, використання і
    розширення (поширення, реалізація, передача), знеособлення, знищення персональних даних, у тому
    числі із застосуванням інформаційних (автоматизованих) систем відповідно до Закону України "Про
    захист персональних даних".
    4.7. Оператор РТР здійснює обробку персональних даних працівників Акредитованого Користувача з
    метою ідентифікації суб'єкта персональних даних на РТР самим Оператором та іншими
    Зареєстрованими та/або Акредитованими на РТР Користувачами, без чого неможливе забезпечення
    Оператором РТР повноцінного функціонування РТР.
    4.8. Акцептуючи цей Договір Зареєстрований Користувач гарантує, що у належний спосіб відповідно до
    Закону України «Про захист персональних даних» повідомив своїх працівників про передачу їх даних
    Оператору РТР і працівники юридичної особи Зареєстрованого Користувача дали згоду на таку
    обробку.
    КІНЕЦЬ ТЕКСТУ ПРАВИЛ ЕТМ ТА ПУБЛІЧНОГО ДОГОВОРУ ОФЕРТИ

    </p>

        <div class="row">
            <div class="col-md-12 text-right">
                @LocalText.Inst.Get("text", "Account.Register.Download",
                    "Завантажити оферту:",
                    "Скачать оферту:")
                <a href="~/Content/docs/offerta.pdf" target="_blank">
                    <i class="fa fa-file-text-o fa-4x" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-md-12">
                <label>
                    @LocalText.Inst.Get("label", "userAgreement", "Погоджуюсь з вищевикладеним", "Согласен с вышеизложенным")
                </label>
                <!--Закомментировал гугл капчу. Насколько я понял, unobtrusive validation не давал засабмитить форму, так как капча была невалидна-->
                @*@Html.Recaptcha()
                @Html.ValidationMessage("Captcha")*@

                <div class="form-group">
                    <div class="col-md-12">

                        <button type="submit">@LocalText.Inst.Get("button", "createRegBtn", "Зареєструватись", "Зарегистрироваться")</button>
                    </div>
                </div>
            </div>
        </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
}
