@model TradingPlatform.Models.ResetPasswordViewModel
@{
    ViewBag.Title =LocalText.Inst.Get("title", "resetPassConfirm", "Зміна паролю", "Сброс пароля");
}
<div class="create-auction title">
    <a class="ref" href="#hint" onclick="OpenHelpDialog('resetpass')">?</a> 
    <h3>@ViewBag.Title</h3>
    <hr />
</div>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form",id="submitForm" }))
{
    @Html.AntiForgeryToken()
    <h4> @LocalText.Inst.Get("lable", "resetPassView", "Придумайте новий пароль", "Придумайте новый пароль")</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    <div class="form-group">
        @Html.LabelFor(m => m.Email, @LocalText.Inst.Get("label", "resetPassEmailLable", "Email", "Email"), new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, @LocalText.Inst.Get("label", "resetPassLable", "Новий пароль", "Новый пароль"), new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, @LocalText.Inst.Get("label", "resetConfirmPassLable", "Новий пароль ще раз", "Новый пароль еще раз"), new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            <input type="submit" class="btn btn-default" value=@LocalText.Inst.Get("btn", "resetPassConfirmBtn", "Оновити", "Обновить")>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
