@model TradingPlatform.Models.ChangePasswordViewModel
@{
    ViewBag.Title = LocalText.Inst.Get("title", "changePassw", "Зміна пароля", "Смена пароля");
}

<div class="create-auction title">
    <a class="ref" href="#hint" onclick="OpenHelpDialog('changepass')">?</a> 
    <h3>@ViewBag.Title</h3>
    <hr />
</div>
@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "submitForm" }))
{
    @Html.AntiForgeryToken()
 
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, LocalText.Inst.Get("label", "changePasswOld", "Старий пароль", "Старый пароль"), new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, LocalText.Inst.Get("label", "changePasswNew", "Новий пароль", "Новый пароль"), new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, LocalText.Inst.Get("label", "changePasswNewConfirm", "Новий пароль ще раз", "Новый пароль еще раз"), new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            <input type="submit" value="@LocalText.Inst.Get("btn", "changePasswBtn", "Змінити пароль", "Сменить пароль")" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}