@using System.Globalization
@using TradingPlatform.Enums
@using TradingPlatform.Models
@model TradingPlatform.Models.BillModel

<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; CHARSET=utf-8">
    <title></title>
    <style>
        h2 {
            font-size: 18px;
            text-align: center;
            margin: 0 0 6px;
        }
        p {
            font-size: 16.8px;
            letter-spacing: 0.4px;
        }
        .floater {
            margin: 0 0 8px;
        }
        .floater::after {
            display: table;
            content: "";
            clear: both;
        }
        .floater p:first-child {
            float: left;
            width: 70%;
            text-align: left;
        }
        .floater p:last-child {
            float: right;
            width: 30%;
            text-align: right;
        }

        section {
            margin: 16px 0;
        }

        div.doc-section {
            margin: 0 0 20px;
        }
        div.doc-section ul {
            list-style-type: disc;
        }

        ul.nest-abz {
            list-style-type: none;
        }

        section table {
            border: none;
            border-collapse: collapse;
            width: 100%;
            margin: 5px 0;
            font-size: 18px;
        }
        section table, section table th, section table td {
            padding: 4px;
        }
        section table tr {
            text-align: left;
        }

        section table th {
            padding-bottom: 8px;
            text-align: left;
        }

    </style>
</head>
<body>

    @{
        var ceoSeller = Model.Seller.IsConfidant ? Model.Seller.ConfidantName : Model.Seller.CeoName;
        var ceoBuyer = Model.Buyer.IsConfidant ? Model.Buyer.ConfidantName : Model.Buyer.CeoName;
    }

    <div id="header">
        <h2>ДОГОВІР ПОСТАВКИ №  <b>@Model.ShowModel.Contract</b></h2>
        <div class="floater">
            <p>м. Київ</p>
            <p>@Model.ShowModel.DocCreaDate.ToString("dd MMMM yyyy", CultureInfo.GetCultureInfo("uk-UA"))</p>
        </div>
    </div>

    <section>
        <p>
             <b>ТОВ «@Model.ShowModel.SellerName»</b>, що іменується надалі «Постачальник», в особі  <b>@ceoSeller</b>, який діє на підставі @Model.Seller.ConfidantDocumentType, з одної сторони, та
        </p>
        <p>
            <b>ТОВ «@Model.ShowModel.BuyerName»</b>, що іменується надалі «Покупець», в особі <b>@ceoBuyer</b>, який діє на підставі @Model.Buyer.ConfidantDocumentType, з іншої сторони,
        </p>
        <p style="text-align: center">
            <i>
                надалі по тексту разом – «Сторони», а кожна окремо – «Сторона», уклали <br />
                цей Договір поставки надалі по тексту – «Договір», про наступне:
            </i>
        </p>

        <div class="doc-section">
            <h2>§1. ПРЕДМЕТ ТА ЦІНА ДОГОВОРУ</h2>
            <p>
                1.1     Постачальник зобов’язується поставити, а Покупець зобов’язується прийняти і оплатити поліетилен різних марок, у тому числі, але не виключно вироби з поліетилену, (надалі – «Товар»), партіями в кількості, асортименті та за цінами, узгодженими Сторонами у відповідних Специфікаціях до даного  Договору.
            </p>
            <p>
                1.2.	Підписані Сторонами Специфікації є невід’ємними частинами даного Договору.
            </p>
            <p>
                1.3.	Специфікації до даного Договору повинні містити, у тому числі, але не виключно, наступну інформацію: найменування та марку Товару, його асортимент, кількість Товару, базис поставки Товару Покупцю, строк та умови оплати Товару, строк (термін) поставки Товару Покупцю, ціну Товару.
            </p>
            <p>
                1.4.	Загальна ціна цього Договору визначається як сума вартості всього Товару, поставленого згідно з цим Договором, відповідно до всіх Специфікацій до нього.
            </p>
        </div>

        <div class="doc-section">
            <h2>§2. ЯКІСТЬ ТОВАРУ</h2>
            <p>2.1.	Якість Товару, що поставляється, повинна відповідати державним стандартам та технічним умовам, що діють на території України.</p>
            <p>2.2.	Якість Товару, що поставляється, підтверджується документом про якість, виписаним заводом-виробником Товару (надалі за текстом – «Виробник»), а саме: паспортом якості та сертифікатом відповідності та/або іншим документом про якість Товару відповідно до вимог чинного законодавства України.</p>
            <p>2.3. Паспорт якості, сертифікат відповідності, інші документи про якість Товару, що відповідають чинному законодавству України, надаються Постачальником на кожну партію Товару. </p>
        </div>

        <div class="doc-section">
            <h2>§3. УМОВИ ВІДВАНТАЖЕННЯ ТА ПОСТАВКИ</h2>
            <p>
                3.1.	Поставка Товару за цим Договором здійснюється автомобільним транспортом, якщо інше не погоджено Сторонами у відповідній Специфікації.
            </p>
            <p>
                3.2.	При тлумаченні цього Договору мають силу Міжнародні правила інтерпретації комерційних термінів «ІНКОТЕРМС» в редакції 2010 року.
            </p>
            <p>
                3.3.	Відвантаження Товару згідно кожної Специфікації до цього Договору може проводитись окремими партіями.<br />
                «Партія Товару» - кількість Товару, відвантажена Постачальником відповідно до однієї товарно-транспортної накладної (видаткової накладної).
            </p>
            <p>
                3.4.	Відвантаження Товару здійснюється на підставі підписаної Сторонами Специфікації до даного Договору та виписаного Постачальником на ім’я Покупця рахунку-фактури згідно підписаної Сторонами відповідної Специфікації на поставку Товару.
            </p>
            <p>
                3.5.	 Якщо інший строк (термін) поставки Товару не передбачений відповідною Специфікацією до даного Договору, Постачальник зобов’язаний здійснити поставку Товару Покупцю протягом 10 (десяти) календарних днів з дати укладання Сторонами відповідної Специфікації до даного Договору. Інші умови (строки) поставки можуть бути узгоджені Сторонами у відповідній Специфікації до даного Договору.
            </p>
            <p>
                3.6. Постачальник відвантажує Товар тільки особі, уповноваженій Покупцем отримати відповідну партію Товару, про що така уповноважена особа надає представнику Постачальника оригінальний примірник довіреності на отримання Товару у Постачальника, яка видана Покупцем. Постачальник має право не відвантажувати Товар, якщо представник Покупця не надав належним чином оформленої довіреності на отримання Товару.
            </p>
            <p>
                3.7. У випадку якщо доставка Товару здійснюється автотранспортом Покупця (або перевізником, з яким уклав відповідний договір Покупець), останній повинен завчасно надати Постачальнику замовлення на відвантаження, в якому вказується асортимент Товару, його кількість, дата відвантаження, реквізити транспортного засобу.  Замовлення може бути направлене Покупцем Постачальнику за допомогою засобів електронного поштового зв’язку та/або факсимільного зв’язку.
            </p>
            <p>
                3.8. У випадку, якщо постачання Товару здійснюється на умовах CIP, CPT, DAP, DAT, DDP, разом із Товаром Постачальник направляє Покупцю два підписані оригінальні примірники видаткової накладної на відповідну партію Товару, які підписує уповноважена особа Покупця, один з примірників залишається у Покупця, а другий Покупець надсилає на адресу Постачальника поштовим відправленням не пізніше ніж через 5-ть (п’ять) днів від дня поставки відповідної партії Товару.
            </p>
            <p>
                3.9.	У випадку якщо поставка Товару здійснюється на умовах EXW, FCA, разом із Товаром Постачальник направляє Покупцю товарно-транспортну накладну та видаткову накладну, складену у двох примірниках відповідно до вимог чинного законодавства України. Уповноважена особа Покупця підписує таку видаткову накладну, один примірник якої залишається у Покупця, а другий Покупець надсилає на адресу Постачальника поштовим відправленням не пізніше ніж через 5 (п’ять) днів від дня поставки відповідної партії Товару.
            </p>
            <p>
                3.10. Датою поставки Товару вважається дата підписання Сторонами видаткової накладної, а у випадку її відсутності -  дата підписання Сторонами Акту приймання-передачі Товару. Право власності та Товар, а також усі ризики, пов’язані з його втратою та пошкодженням, переходять від Постачальника до Покупця з дати поставки Товару.
            </p>
            <p>
                3.11.	Засіб для перевезення Товару має відповідати наступним вимогам:
                <ul>
                    <li>кузов без ріжучих, колючих, дряпаючих, гострих металевих виступів біля стійок і бортів;</li>
                    <li>відсутні розриви металу на бортах та дні кузову, що здатні пошкодити поверхню Товару;</li>
                    <li>кількість ременів для кріплення Товару у кузові – щонайменше 4 (чотири) одиниці.</li>
                </ul>
            </p>
            <p>3.12.	У випадку невідповідності засобу для перевезення Товару вимогам, викладеним у п. 3.11. цього Договору, якщо доставка Товару здійснюється транспортом Покупця чи залученого ним перевізника, Постачальник має право відмовити у відвантаженні Товару і відвантажує Товар тільки після надання Покупцем або уповноваженим Покупцем перевізником засобу для транспортування Товару, що відповідатиме вимогам п.3.11. цього Договору.</p>
            <p>
                3.13. Товар, що постачається на умовах даного Договору, повинен бути упакований в оригінальну упаковку виробника з нанесенням маркування згідно технічних умов виробника та вимог чинного законодавства України. Маркування Товару має бути виконано українською та/або англійською мовами. Пакування Товару повинно забезпечувати зберігання Товару при його транспортуванні та навантажувально-розвантажувальних роботах при звичайних умовах. 
            </p>
            <p>
                3.14. Якщо інше не погоджено Сторонами у відповідній Специфікації, завантаження Товару у транспортний засіб має бути здійснене силами та засобами Постачальника.
            </p>
        </div>

        <div class="doc-section">
            <h2>§4. ПОРЯДОК РОЗРАХУНКІВ</h2>
            <p>
                4.1. Ціна Товару, а також умови, строки та порядок здійснення Покупцем оплати за Товар визначаються Сторонами у відповідній Специфікації до даного Договору. Оплата за Товар здійснюється Покупцем  шляхом перерахування грошових коштів на банківський рахунок Постачальника на підставі виставленого Постачальником рахунку-фактури.
            </p>
            <p>
                4.2. Моментом оплати Товару вважається час фактичного зарахування грошових коштів на банківський рахунок Постачальника.
            </p>
            <p>4.3. Ціна Товару, який був повністю або частково оплачений Покупцем відповідно до виставленого Постачальником рахунку-фактури згідно погодженої сторонами Специфікації, зміні та перегляду не підлягає.</p>
            <p>
                4.4. Якщо інше не передбачено умовами (базисом) поставки, що погоджені Сторонами у відповідній Специфікації, та/або у випадку не включення вартості з доставки Товару до ціни Товару (при умові, що обов’язок з доставки Товару покладено на Постачальника), Покупець оплачує витрати Постачальника з транспортування Товару до місця призначення Покупця на підставі виставленого Постачальником рахунку-фактури. При цьому, розмір витрат Постачальника з доставки Товару до місця призначення Покупця має бути погоджений Сторонами у відповідній Специфікації та/або додатковій угоді до даного Договору.
            </p>
            <p>4.5. У разі необхідності, Сторони по закінченню кожного календарного місяця проводять звірку взаєморозрахунків за відвантажений Товар. Акт звірки взаєморозрахунків складає Постачальник до 10 числа місяця наступного за звітним. Акт звірки взаєморозрахунків скріплюється підписами уповноважених представників та відтисками печаток Сторін.</p>
            <p>
                4.6. Якщо за результатами звірки взаєморозрахунків буде встановлено, що сума, яка поступила від Покупця в порядку оплати за Товар:<br />
                а) недостатня для покриття вартості поставленого Товару – Покупець протягом 5 (п’яти) банківських днів після підписання Сторонами Акту звірки взаєморозрахунків перераховує Постачальникові суму, якої бракує;<br />
                б) перевищує вартість поставленого Товару, Постачальник повертає Покупцеві протягом 5 (п’яти) банківських днів зайву суму з дати підписання Сторонами Акту звірки взаєморозрахунків.
            </p>
            <p>
                4.7. При необхідності, на вимогу Постачальника та/або Покупця складаються проміжні Акти звірки взаєморозрахунків, які надсилаються за допомогою факсимільного зв'язку та/або електронного поштового зв’язку з одночасним підтвердженням рекомендованим поштовим відправленням протягом 5 (п'яти) календарних днів від дати відправки  їх за допомогою факсимільного зв'язку та/або електронного поштового зв’язку.
            </p>
            <p>
                4.8. Сторона, яка отримала Акт звірки взаєморозрахунків зобов’язана його розглянути протягом 7 (семи)  календарних днів з дати отримання, та в цей же строк надіслати іншій Стороні підписаний екземпляр Акту, або в цей же строк надіслати свої обґрунтовані заперечення щодо Акту звірки взаєморозрахунків.
            </p>
        </div>

        <div class="doc-section">
            <h2>§5. ПОРЯДОК ПРИЙМАННЯ-ПЕРЕДАЧІ ТОВАРУ</h2>
            <p>5.1. Покупець проводить приймання Товару за кількістю і якістю відповідно до:</p>
            <ul class="nest-abz">
                <li>5.1.1.	«Інструкції про порядок прийому продукції виробничо-технічного призначення і товарів народного споживання за кількістю», затвердженою постановою Державного арбітражу Союзу РСР № П-6 від 15.06.1965 р.;</li>
                <li>5.1.2. та «Інструкції про порядок прийому продукції виробничо-технічного призначення і товарів народного споживання за якістю», затвердженою постановою Державного арбітражу Союзу РСР № П-7 від 25.04.1966 р.;</li>
                <li>5.1.3. відповідно до чинного законодавства України, а також відповідно до умов цього Договору та Специфікацій до нього.</li>
            </ul>
            <p> 5.2. Покупець здійснює приймання Товару за кількістю, виходячи із кількості Товару, що зазначена в товарно-транспортній накладній та\або у видатковій накладній.</p>
            <p>5.3. Покупець здійснює приймання Товару по якості відповідно до документів, що підтверджують якість Товару (паспорту якості, сертифікату відповідності, тощо).</p>
        </div>

        <div class="doc-section">
            <h2>§6. ПРЕТЕНЗІЇ</h2>
            <p>6.1. У випадку, якщо поставлений Товар не відповідатиме асортименту та/або кількості та/або якості, що погоджені Сторонами у відповідній Специфікації до даного Договору, Покупець має право відмовитись від приймання такого Товару та вимагати від Постачальника повної або часткової заміни поставленого  Товару та/або допоставки непоставленої кількості Товару.</p>
            <p>6.2. Претензії щодо невідповідності кількості та/або якості (явних недоліків) Товару пред’являються Покупцем в порядку передбаченому чинним законодавством України, але в термін не більше 15 (п’ятнадцяти) робочих днів з дати поставки Товару.</p>
            <p>6.3. Претензії щодо прихованих недоліків Товару (дефектів виробника, які не могли бути виявленні при прийманні – передачі Товару) пред’являються Покупцем в порядку, передбаченому чинним законодавством України, але в термін не більше 3-х календарних місяців з дати поставки Товару Покупцю, якщо інший більш тривалий термін не передбачений виробником Товару (гарантійним строком на Товар).</p>
            <p>6.4. Постачальник не пізніше 24 годин з моменту одержання інформації про виявлені дефекти/недоліки Товару, сповіщає Покупця про дату прибуття свого представника для узгодження питань, пов’язаних з їх усуненням і по прибуттю представника Постачальника складається акт про виниклі дефекти, причини та строк їх усунення. Строк, протягом якого Постачальник має забезпечити явку свого представника для складання акту про виниклі дефекти, не повинен перевищувати 2 (двох) робочих днів.<br />
                У разі неможливості явки представника Постачальника, а також у разі коли Постачальник був належним чином повідомлений про виявлені дефекти, але протягом вищевказаного строку не прибув для складання акту, а також у випадку відмови Постачальника від складання та/або підписання акту про виявлені дефекти, Покупець має право залучити до складання та підписання даного акту будь-яку незалежну експертну організацію або незалежного експерта, при цьому, у такому випадку такий акт про виявлені дефекти матиме обов’язкову силу для Постачальника.</p>
            <p>6.5. Якщо інше не передбачено актом про виявлені дефекти, Постачальник зобов’язаний усунути виявлені недоліки/дефекти Товару щодо асортименту та/або кількості та/або якості, протягом 7 (семи) календарних днів з дати підписання акту про виявлені дефекти.</p>
        </div>

        <div class="doc-section">
            <h2>§7. ВІДПОВІДАЛЬНІСТЬ СТОРІН</h2>
            <p>7.1. Кожна зі Сторін несе відповідальність за невиконання умов цього Договору відповідно до чинного законодавства України та умов цього Договору.</p>
            <p>
                7.2. У разі порушення Постачальником строків (термінів) поставки Товару Покупцю, Постачальник зобов’язаний сплатити Покупцю неустойку в розмірі 0,1 % від вартості непоставленого/недопоставленого в строк Товару за кожен день прострочення поставки Товару Покупцю.
                Сплата неустойки не звільняє Постачальника від виконання прийнятих на себе зобов'язань за цим Договором та Специфікаціями до нього.
            </p>
            <p>
                7.3. У разі порушення Покупцем строків (термінів) оплати за поставлений Товар, Покупець   зобов’язаний сплатити Постачальнику пеню в розмірі подвійної облікової ставки НБУ від вартості поставленого, але не оплаченого Товару, за кожен день прострочення оплати.<br />
                Сплата пені не звільняє Покупця від виконання прийнятих на себе зобов'язань за цим Договором та Специфікаціями до нього.
            </p>
            <p>7.4. У випадку поставки Постачальником Покупцю Товару з порушенням вимог щодо якості, Постачальник зобов’язаний сплатити на користь Покупця штраф у розмірі 3% від вартості партії Товару, що поставлена з порушенням вимог щодо якості.</p>
            <p>7.5. У випадку необґрунтованої відмови Покупця від приймання Товару належного асортименту, якості та кількості, поставка якого здійснена Постачальником належним чином, Покупець зобов’язаний сплатити на користь Постачальника штраф у розмірі 3% від вартості Товару від якого Покупець відмовився.</p>
            <p>7.6. Сторони компенсують одна одній всі прямі збитки в повному обсязі зверх неустойки, які виникли в результаті повного або часткового невиконання якою-небудь зі Сторін умов цього Договору.</p>
        </div>

        <div class="doc-section">
            <h2>§8. НЕПЕРЕБОРНА СИЛА</h2>
            <p>8.1. Сторона не несе перед іншою Стороною відповідальності за будь-які затримки чи порушення у виконанні зобов`язань за цим Договором, якщо вони виникли після укладення цього договору, як наслідок непереборної сили (форс-мажорних обставин) тобто обставин, що не залежать від волі Сторін за Договором та мають надзвичайний або невідворотній характер, як то: природні стихійні явища (пожежа, землетрус, паводок, інші стихійні лиха) або окремі обставини суспільного життя (воєнні дії, блокада, страйк, аварії, епідемії, заборонні акти органів державної влади та управління, заборони здійснення торгівельних операцій з окремими країнами, протиправні дії третіх осіб тощо).</p>
            <p>8.2. Свідоцтво, видане Торгово-промисловою палатою України є достатнім підтвердженням наявності і тривалості дій обставин непереборної сили.</p>
            <p>8.3. Сторона, для якої стало неможливо виконання своїх зобов’язань по договору внаслідок дії обставин непереборної сили, повинна протягом трьох робочих днів письмово повідомити іншу Сторону про виникнення вищезазначених обставин, що унеможливлюють виконання обов’язків. Неповідомлення або несвоєчасне повідомлення про початок або закінчення обставин непереборної сили лишає Сторону права на них посилатись. Сторона для якої стало неможливо виконання своїх зобов’язань за договором внаслідок дії обставин непереборної сили, повинна протягом двох робочих днів з дня отримання свідоцтва Торгово-промислової палати України надіслати його належним чином завірену копію іншій Стороні.</p>
            <p>8.4. У випадку, якщо обставини непереборної сили існують більше одного місяця, Сторони можуть домовитись про розірвання цього Договору. Сторони зобов'язуються при цьому, у строк до 10 банківських днів провести остаточні взаєморозрахунки за даним Договором.</p>
        </div>

        <div class="doc-section">
            <h2>§9. ВИРІШЕННЯ РОЗБІЖНОСТЕЙ</h2>
            <p> 9.1. Всі спори або розбіжності, які виникають між Сторонами за цим Договором, специфікаціями та/або додатковими угодами до нього, або у зв'язку з ними, вирішуються шляхом переговорів між Сторонами.</p>
            <p>9.2. У разі неможливості вирішення розбіжностей шляхом переговорів, вони підлягають розгляду в суді у порядку, встановленому чинним законодавством України.</p>
        </div>

        <div class="doc-section">
            <h2>§10. ОСОБЛИВІ УМОВИ</h2>
            <p>10.1. Сторони не мають права передавати свої права і обов'язки за цим Договором, Специфікаціями та/або додатковими угодами до нього третім особам без попередньої письмової згоди на те іншої Сторони.</p>
            <p>10.2. При виникненні розбіжностей між умовами та положеннями цього Договору, Специфікацій та/або додаткових угод до нього пріоритетним є документ, складений пізніше.</p>
            <p>10.3. Сторони беруть на себе зобов'язання не розголошувати інформацію, отриману за цим Договором. Сторони вживатимуть усіх необхідних заходів, щоб запобігати повному або частковому розголошенню комерційної таємниці стосовно одна одної, що стала відома їм протягом виконання цього Договору.</p>
            <p>10.4. У разі розголошення однією із Сторін даних, які містяться у вказаній документації та інформації, винна Сторона відшкодовує іншій Стороні всі понесені у зв'язку з цим прямі збитки відповідно до чинного законодавства України.</p>
        </div>

        <div class="doc-section">
            <h2>§11. ІНШІ УМОВИ ДОГОВОРУ</h2>
            <p>11.1. Цей Договір вступає в силу з дати його підписання Сторонами і діє до 31 грудня @DateTime.UtcNow.Year року включно, але в будь-якому випадку до повного та належного виконання Сторонами своїх зобов’язань за даним Договором. Закінчення строку дії Договору не звільняє винну Сторону від відповідальності за його невиконання.</p>
            <p>11.2. Взаємовідносини Сторін, не передбачені Договором, регулюються чинним законодавством України.</p>
            <p>11.3. Цей Договір складений при повному розумінні Сторонами предмету Договору і замінює будь-яку угоду за даним предметом, укладену раніше в усній або письмовій формі. Цим виключаються будь-які усні обговорення відносно предмету Договору.<br />
                </p>
            <p>11.4. Якщо будь-яке з положень цього Договору буде визнано недійсним, це не є підставою для визнання недійсним Договору в цілому.</p>
            <p>11.5. Всі зміни і доповнення до цього Договору складаються у письмовій формі і скріплюються підписами уповноважених представників та відтисками печаток Сторін.</p>
            <p>
                11.6. Сторони зобов'язуються повідомляти одна одну у разі прийняття рішення про ліквідацію, реорганізацію або банкрутство однієї зі Сторін в строк не пізніше ніж за 3 (три) календарні дні від дати прийняття такого рішення. У ті ж терміни Сторони повідомляють одна одну про зміну банківських реквізитів, поштової, юридичної адреси. В разі не повідомлення про такі зміни винна Сторона несе відповідальність за спричинені збитки, а поштова кореспонденція, відправлена на адресу, про зміну якої не було належним чином повідомлено, вважається такою, що направлена належним чином.
            </p>
            <p>11.7. Цей Договір складений українською мовою в двох примірниках, що мають рівну юридичну силу, по одному для кожної зі Сторін.</p>
            <p>11.8. Під час укладання цього Договору, Сторони підтверджують, що кожна зі Сторін діє в межах своїх повноважень, керуючись чинним законодавством України. Особи, що підписали цей договір, діють в межах наданих їм статутом та/або довіреністю повноважень, а також  не є усуненими від виконання своїх обов'язків.</p>
            <p>
                11.9. Всі повідомлення, що направляються Сторонами одна одній відповідно до цього Договору, повинні бути здійснені у письмовій формі, скріплені підписом уповноваженої особи і відтиском печатки відповідної Сторони, і вважатимуться поданими належним чином, якщо вони відправлені рекомендованим листом, доставлені особисто за зазначеними адресами Сторін або відправлені за допомогою факсимільного зв'язку та/або засобів електронного поштового зв’язку, з одночасним підтвердженням рекомендованим листом протягом 5 (п’яти) календарних днів від дати відправки електронною поштою або факсимільним зв’язком.
            </p>
            <p>
                11.10. Усі інші, не передбачені цим Договором умови, будуть регулюватися правилами «ІНКОТЕРМС» у редакції 2010 року. У разі розходження між положеннями цього Договору та «ІНКОТЕРМС» у редакції 2010 року, превалюють положення Договору.
            </p>
            <p>11.11. Копії даного Договору, а також всіх документів до нього, відправлені Сторонами засобами факсимільного зв'язку та/або електронної пошти, визнаються Сторонами і мають повну юридичну силу до моменту обміну Сторонами оригіналами таких документів.</p>
            <p>11.12. Постачальник має статус платника податку на прибуток на загальних підставах, передбачених Податковим кодексом України, а також має статус платника ПДВ.</p>
            <p>11.13. Покупець має статус платника податку на прибуток на загальних підставах, передбачених Податковим кодексом України, а також має статус платника ПДВ.</p>
        </div>

        <h2>§12. АДРЕСИ ТА БАНКІВСЬКІ РЕКВІЗИТИ СТОРІН:</h2>
        <table>
            <tr>
                <th>ПОСТАЧАЛЬНИК:</th>
                <th>ПОКУПЕЦЬ:</th>
            </tr>
            <tr>
                <td><b>«@Model.ShowModel.SellerName»</b></td>
                <td><b>«@Model.ShowModel.BuyerName»</b></td>
            </tr>
            <tr>
                <td>@Model.Seller.Address</td>
                <td>@Model.Buyer.Address</td>
            </tr>
            <tr>
                <td>Ідентифікаційний код @Model.Seller.Code </td>
                <td>Ідентифікаційний код @Model.Buyer.Code </td>
            </tr>
            <tr>
                <td>ІПН @Model.Seller.TaxCode</td>
                <td>ІПН @Model.Buyer.TaxCode</td>
            </tr>
            <tr>
                <td>Тел.: @Model.Seller.ContragentPhone</td>
                <td>Тел.: @Model.Buyer.ContragentPhone</td>
            </tr>

            <tr>
                <td>Факс: @Model.Seller.ContragentFax</td>
                <td>Факс: @Model.Buyer.ContragentFax</td>
            </tr>
            <tr>
                <td>Адреса електронної пошти: @Model.Seller.ContragentEmail</td>
                <td>Адреса електронної пошти: @Model.Buyer.ContragentEmail</td>
            </tr>
            <tr>
                <td>
                    п/р @Model.Trade.BankBill.BillNumber в<br />
                    @Model.Trade.BankBill.BankName,<br />
                    МФО @Model.Trade.BankBill.Mfo<br >  
                </td>
                <td>
                    п/р @Model.Buyer.BankBillRequired.BillNumber в<br />
                    @Model.Buyer.BankBillRequired.BankName,<br />
                    МФО @Model.Buyer.BankBillRequired.Mfo<br />
                </td>
            </tr>
            <tr>
                <td>@Model.Seller.CeoTitle</td>
                <td>@Model.Buyer.CeoTitle</td>
            </tr>
            <tr>
                <td>________________ @Model.Seller.CeoName</td>
                <td>________________ @Model.Buyer.CeoName</td>
            </tr>
        </table>

    </section>
</body>
</html>