@model TradingPlatform.Models.BillModel

<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; CHARSET=utf-8">
    <style>
        h1, h2, h3 {
            text-align: center;
        }
        p {
            text-align: justify;
            font-size: 1.2em;
            line-height: 1.1em;
        }
       
        div {
            width: 100%;
            margin: 10px 0 10px;
        }
        div::after {
            display: table;
            content: "";
            clear: both;
        }
        div p:first-child {
            float: left;
            
        }
        div p:last-child {
            float: right;
        }

        article {
            margin: 24px 0 0;
        }
        table {
            width: 100%;
            margin: 30px 0 0;
        }
        caption {
            font-weight: bold;
            text-align: left;
            margin-bottom: 16px;
        }
        th, td {
            width: 50%;
            text-align: left;
        }
    </style>
</head>
<body>
    <h2>Договір купівлі-продажу нафтопродуктів № @Model.ShowModel.Contract</h2>
    <div>
        <p>м. Київ</p>
        <p>@Model.ShowModel.DocCreaDate</p>
    </div>
    
        <p>
            @Model.Seller.LongName, що іменується надалі «Продавець», в особі @Model.Seller.CeoTitle @Model.Seller.CeoName , який(яка) діє на підставі @Model.Seller.ConfidantDocumentType, з одного боку, та
            @Model.Buyer.LongName що іменується надалі «Покупець», в особі @Model.Buyer.CeoTitle @Model.Buyer.CeoName, який(яка) діє на підставі @Model.Buyer.ConfidantDocumentType з іншого боку,
            які надалі разом іменуються «Сторони», а кожна окремо – «Сторона», відповідно до чинного законодавства України, уклали цей
            договір купівлі-продажу нафтопродуктів в електронній формі шляхом підписання електронного документу, надалі – «Договір»,
            про наступне:
        </p>
        <article>
            <h3>1. ПРЕДМЕТДОГОВОРУ</h3>
            <p>
                1.1. Продавець зобов'язується передати у власність Покупця, а Покупець зобов'язується прийняти та оплатити нафтопродукти,
                надалі – «Товар», відповідно до умов Договору та Додаткових угод до нього. Товар передається Покупцеві вільним від будь-яких
                прав третіх осіб(включаючи арешт, заставу тощо).
            </p>
            <p>
                1.2. Додаткові угоди до Договору містять у тому числі, але не виключно, наступну інформацію: найменування та марку Товару;
                об’єм(кількість) Товару; якість Товару; базис поставки відповідно до Інкотермс 2010; вид транспорту; строк оплати; строк
                відвантаження Товару; терміни і умови транспортування; кількість днів використання(обороту) цистерн, інформацію щодо
                заводу–виробника Товару.
            </p>
        </article>
        <article>
            <h3>2. ПРАВАТАОБОВ’ЯЗКИСТОРІН</h3>
            <p>
                2.1. Продавець зобов'язаний своєчасно та в обумовлені строки проводити передачу Товару у власність Покупця відповідно до
                умов Договору.
            </p>
            <p>
                2.2. Покупець зобов'язаний прийняти Товар тасвоєчасно і в повному обсязі проводити оплату Товару.
            </p>
            <p>
                2.3. При поставках залізничним транспортом Покупець зобов’язаний запитати інструкцію по заповненню граф залізничної
                накладної (СМГС або внутрішньої залізничної накладної) на повернення порожніх цистерн, та діяти відповідно до наданих
                Продавцем інструкцій. Покупець зобов'язаний у найкоротший термін повертати транспортні засоби, які йому не належать, та
                надавати Продавцю всю необхідну інформацію про повернення транспортних засобів.
            </p>
            <p>
                2.4. Сторони зобов’язані виконувати вимоги чинного законодавства та здійснювати оперативний обмін документами, що
                підтверджують передачу Товару у власність Покупця.
            </p>
        </article>
        <article>
            <h3>3. КІЛЬКІСТЬ ТОВАРУ</h3>
            <p>
                3.1. Поставка Товару в рамках цього Договору проводиться окремими погодженими об’ємами, які обумовлено Продавцем та
                Покупцем у Додатковій угоді.
            </p>
            <p>
                3.2. Загальна кількість Товару, що відвантажується, може відрізнятися від обумовленої в Додатковій угоді, але не більше ніж на ±
                10 відсотків.
            </p>
            <p>
                3.3. При відвантаженні Товару в залізничні або автомобільні цистерни, мінімальною нормою відвантаження вважається 1(одна) 
                залізнична або автомобільна цистерна відповідно. Поставка Товару нижче за мінімальні норми відвантаження не проводиться і
                недопоставкою не вважається, штрафні та інші санкції незастосовуються
            </p>
        </article>
        <article>
            <h3>4. ЯКІСТЬ ТОВАРУ</h3>
            <p>
                4.1. Якість Товару, що поставляється, повинна відповідати ДСТУ(ТУ) країни-виробника Товару.
            </p>
            <p>
                4.2. Якість Товару, що поставляється, підтверджується паспортом(сертифікатом) якості заводу-виробника Товару (далі -
                Виробник).
            </p>
            <p>
                4.3. Паспорт якості надається на кожну партію Товару та додається до залізничної та/або товарно-транспортної накладної(ТТН).
            </p>
        </article>
        <article>
            <h3>5. ВІДВАНТАЖЕННЯ ТОВАРУ</h3>
            <p>
                5.1. Відвантаження Товару в межах кожної Додаткової угоди може проводитись окремими партіями залізничним або
                автомобільним транспортом згідно залізничних та/або товарно-транспортних накладних.
            </p>
            <p>
                5.2. Відвантаження Товару здійснюється у строки, встановлені у Додатковій угоді. Поставка Товару Покупцеві здійснюється за
                відсутності з боку Покупця заборгованості за попередні поставки. 
            </p>
            <p>
                5.3. Відвантаження Товару здійснюється лише особам, яких Покупець уповноважив на отримання Товару.
            </p>
            <p>
                До моменту передачі Товару на автотранспорт Покупця, останній зобов’язаний надати Продавцю оригінал довіреності або якісну
                копію з чітким відображенням підпису довірителя та відтиском печатки, виданої уповноваженій особі Покупця на отримання
                Товару від Продавця (у тому числі, але не виключно, на право вчинення уповноваженою особою від імені Покупця дій,
                пов’язаних з прийманням Товару від Продавця з правом підпису накладних, товарно-транспортних накладних, інших
                документів, пов’язаних з прийманням Товару).
            </p>
            <p>
                Товар, отриманий від Продавця уповноваженою особою Покупця, що зазначена в довіреності на отримання Товару, вважається
                таким, що отриманий Покупцем. У разі відсутності довіреності Продавець має право відмовити у відвантаженні Товару Покупцю
                без застосування до Продавця будь-яких штрафних санкцій чи інших негативних наслідків.
            </p>
            <p>
                5.4. В окремих випадках, в разі необхідності, Продавець відвантажує Товар Покупцеві тільки після надання від залізничної станції
                призначення підтвердження про готовність прийняти Товар на адресу одержувача
            </p>
            <p>
                У разі переадресування Товару за реквізитами Покупця, Покупець протягом 1(одного) робочого дня до здійснення
                переадресування повинен надати Продавцю інформацію, необхідну для переадресування Товару та відправки його Покупцеві
                (залізнична станція призначення та її реквізити, найменування одержувача Товару, залізничні коди станції призначення та
                одержувача Товару, поштова адреса одержувача Товару та інше), а також забезпечити підтвердження про готовність залізничної
                станції призначення до прийому Товару.
            </p>
        </article>
        <article>
            <h3>6. ЦІНА І ПОРЯДОК РОЗРАХУНКІВ</h3>
            <p>
                6.1. Ціна Товару та порядок здійснення Покупцем оплати за Товар визначається Сторонами у Додатковій угоді. Покупець
                здійснює 100% попередню оплату за Товар шляхом перерахування грошових коштів на поточний рахунок Продавця, якщо інше
                не передбачене Додатковою угодою.
            </p>
            <p>
                6.2. Оплата здійснюється на підставі виставленого Продавцем рахунку, якщо інше не передбачено в Додатковій угоді до цього
                Договору. Відсутність рахунку Продавця не є підставою для нездійснення Покупцем оплати на користь Продавця, передбачених
                цим Договором та/або Додатковими угодами до цього Договору. Покупець зобов’язаний здійснити відповідну оплату в строки та
                у розмірі, що зазначені у Договорі та Додатковій угоді за банківськими реквізитами Продавця.
            </p>
            <p>
                6.3. Якщо сума, яка була отримана Продавцем від Покупця в порядку попередньої оплати за об’єм та/або партію Товару, що
                належить відвантаженню відповідно до конкретної пропозиції до цього Договору:
            </p>
            <p>
                а) недостатня для покриття вартості відвантаженого об’єму та/або партії Товару – Покупець протягом 5(п’яти) банківських днів з
                дня отримання остаточного рахунку Продавця, перераховує Продавцю суму, якої бракує;
            </p>
            <p>
                б) перевищує вартість відвантаженої партії Товару, Продавець повертає Покупцеві протягом 5(п’яти) банківських днів зайву
                суму, на підставі листа Покупця від дати його отримання.
            </p>
        </article>
        <article>
            <h3>7. ПРИЙМАННЯ ТОВАРУ ЗА КІЛЬКІСТЮ І ЯКІСТЮ</h3>
            <p>
                7.1. Покупець проводить приймання Товару за кількістю і якістю, в залежності від найменування нафтопродукту, відповідно до
                «Інструкції про порядок приймання, зберігання, відпуску та обліку нафти і нафтопродуктів на підприємствах і організаціях
                України», затвердженою наказом Міністерства палива та енергетики України № 281/171/578/155 від 20.05.2008 р. та/або
                «Інструкції про порядок приймання, зберігання, відпуску та обліку газів вуглеводневих скраплених для комунально-побутового
                споживання та автомобільного транспорту», затвердженою наказом Міністерства палива та енергетики України №332 від
                03.06.2002 р. (Далі – Інструкції), а також відповідно до чинного законодавства України, умов цього Договору та Додаткових угод
                до нього.
            </p>
            <p>
                7.2. Усі ризики, включаючи втрату Товару та збитки, переходять від Продавця до Покупця:
            </p>
            <p>
                а) в разі відвантаження залізничним транспортом – відповідно до Міжнародних правил інтерпретації комерційних термінів
                «Інкотермс» в редакції 2010 року;
            </p>
            <p>
                б) в разі відвантаження автомобільним транспортом - від дати зазначеної в товарно-транспортній накладній (ТТН), яка
                супроводжує Товар,а в разі відсутності ТТН – від дати, зазначеної в Акті приймання-передачі Товару;
            </p>
            <p>
                в) в разі передачі Товару на склад і зберігання – від дати, зазначеної в Акті приймання-передачі Товару.
            </p>
            <p>
                7.3. Вага Товару, зазначена в залізничній накладній, товарно-транспортній накладній (ТТН), Акті прийому-передачі Товару є
                остаточною і обов'язковою для обох Сторін.
            </p>
            <p>
                7.4. Товар вважається поставленим Продавцем та прийнятим Покупцем за кількістю та якістю, а право власності на Товар таким,
                що перейшло від Продавця до Покупця, з дати підписання Акту приймання-передачі Товару та/або видаткової накладної. Датою
                переходу права власності на Товар є дата Акту приймання-передачі Товару, а за його відсутності – дата видаткової накладної.
                Акт приймання-передачі Товару та/або видаткова накладна складаються Продавцем на об’єм та/або партію Товару та
                підписуються обома Сторонами. Акт прийому-передачі Товару та/або видаткова накладна підписуються Покупцем і
                передаються у строк не пізніше ніж 5(п’ять) робочих днів з дня поставки Товару, який визначається за умовами Додаткової
                угоди.
            </p>
        </article>
        <article>
            <h3>8. ВІДПОВІДАЛЬНІСТЬ СТОРІН</h3>
            <p>
                8.1. У разі відмови Покупця від приймання Товару на будь-якій стадії виконання Договору, або ненадання Покупцем вчасно
                даних та документів, необхідних для залізничного чи митного оформлення Товару в межах виконання даного Договору, та/або у
                випадку порушення Покупцем строків приймання Товару, Покупець сплачує Продавцю штрафу розмірі 5% від вартості Товару,
                від приймання якого Покупець відмовився або строки приймання якого Покупець порушив, та відшкодовує всі можливі збитки,
                що можуть виникнути у Продавця у зв’язку із поверненням Товару.
            </p>
            <p>
                8.2. У разі порушення термінів відвантаження Товару, Продавець оплачує Покупцеві неустойку в розмірі 0,1% від вартості не
                відвантаженого в строк Товару за кожен день затримки відвантаження Товару, але не більше 3% від вартості не відвантаженої
                партії Товару.
            </p>
            <p>
                8.3. У разі невиконання Покупцем умов оплати вартості Товару, зазначених в Додаткових угодах до даного Договору, Покупець
                сплачує на користь Продавця (крім суми заборгованості) пеню у розмірі подвійної облікової ставки НБУ, що діяла в період, за
                який сплачується пеня, від суми простроченого платежу за кожен день прострочення платежу.
            </p>
            <p>
                8.4. Пеня та штрафні санкції, визначені даним Договором, нараховуються за весь час прострочення, починаючи з дня
                виникнення заборгованості та закінчуючи днем її повного погашення, без застосування обмежень, визначених ч. 6 ст. 232
                Господарського кодексу України. Сторони домовились встановити позовну давність для вимог Продавця до Покупця (у тому
                числі до вимог про стягнення неустойки) у три роки.
            </p>
            <p>
                8.5. У випадку поставки товару залізничним транспортом Покупець несе перед Продавцем повну відповідальність в розмірі
                документально підтверджених збитків, що виникли у Продавця, у тому числі, але не виключно, у зв’язку з: переадресуванням
                цистерн чи іншим їх використанням Покупцем без письмового дозволу Продавця; перестановкою колісних пар; неправильним
                оформленням Покупцем перевізних документів на повернення порожніх цистерн (Покупець зобов’язаний запитати у Продавця
                транспортну інструкцію по заповненню граф залізничної накладної(СМГС або внутрішньої залізничної накладної) на повернення
                порожніх цистерн); наданням Продавцю неповної чи недостатньої інформації для організації переадресування цистерн;
                ненадання Продавцю протягом 15(п’ятнадцяти) днів з дати прибуття цистерн на станцію призначення залізничних накладних
                (СМГС або внутрішньоїзалізничної накладної); втратою цистерни (до втрати прирівнюється незабезпечення Покупцем зливу та
                відправки цистерни зі станції протягом 15(п’ятнадцяти) днів з дати прибуття цистерни на станцію призначення); псуванням
                рухомого складу в період перебування його на території країни призначення та/або станції призначення; порушенням строків
                використання(обороту) цистерн.
            </p>
        </article>
        <article>
            <h3>9. ОСОБЛИВІ УМОВИ</h3>
            <p>
                9.1. Покупець не має права передавати свої права і обов'язки за даним Договором та Додатковим угодам до нього третім особам
                без письмової згоди на те Продавця. Продавець має право передавати свої права і обов’язки за даним Договором та
                Додатковими угодами до нього третім особам без згоди Покупця, але з одночасним повідомленням Покупця про таку передачу.
            </p>
            <p>
                9.2. Цей Договір, Додаткові угоди до нього, а також інші документи, що утворюються під час його виконання, підписані
                електронним цифровим підписом, або передані за допомогою факсимільного зв'язку та/або електронного поштового зв’язку,
                мають силу оригіналу.
            </p>
            <p>
                9.3. Оригінали документів, якінеобхідні для бухгалтерського та податкового обліку (акти приймання-передачі, видаткові накладні,
                товарно-транспортні накладні, залізничні накладні тощо), повинні бути в наявності у кожної Сторони не пізніше ніж через 10
                (десять) робочих днів з дати відповідного документу, але, у будь-якому випадку, не пізніше передостаннього дня здачі відповідної
                звітності. Сторона, яка не повернула відповідний екземпляр оригіналу документу іншій Стороні, несе всі власні несприятливі
                ризики, а також несе всі несприятливі ризики, які понесе або може понести Сторона, яка не отримала відповідний оригінал
                документу.
            </p>
            <p>
                9.4. Рух Товару та/або грошових коштів, що здійснюється у тому числі із посиланням на Додаткову угоду, є операцією, що
                здійснюється на виконання цього Договору в цілому. Для цілей бухгалтерського та податкового обліку облік товарів та/або
                грошових коштів здійснюється Сторонами по цьому Договору в цілому, а не окремо по кожній укладеній Сторонами Додатковій
                угоді.
            </p>
        </article>
        <article>
            <h3>10. ВИРІШЕННЯ СПОРІВ</h3>
            <p>
                10.1. Всі спори або розбіжності, які виникають між Сторонами за даним Договором та Додатковими угодами до нього, або у
                зв'язку з ними, вирішуються шляхом переговорів між Сторонами.
            </p>
            <p>
                10.2. У разі неможливості вирішення розбіжностей шляхом переговорів, вони підлягають розгляду у встановленому
                законодавством порядку.
            </p>
        </article>
        <article>
            <h3>11. ФОРС-МАЖОР </h3>
            <p>
                11.1. Сторони звільняються від відповідальності за часткове або повне невиконання прийнятих на себе зобов'язань за даним
                Договором, якщо таке невиконання є наслідком обставин непереборної сили, а саме: пожежі, стихійних лих, війни, блокади,
                законних або незаконних дій Уряду (постанов, указів іт.д., що обмежують дію цього Договору) або інших, незалежних від Сторін
                обставин, які неможливо було передбачити та відвернути, і якщо такі обставини перешкоджали виконанню цього Договору.
            </p>
            <p>
                11.2. Термін виконання зобов'язань за даним Договором призупиняється на період, протягом якого діятимуть такі обставини.
                Якщо такі обставини триватимуть більше місяця, то Сторони зобов'язані погоджувати подальше виконання зобов'язань за даним
                Договором або прийняти рішення про його припинення (розірвання).
            </p>
            <p>
                11.3. Сторона, для якої виникла неможливість виконання зобов'язань за цим Договором у зв'язку з форс-мажорними
                обставинами, зобов'язана сповістити про це іншу Сторону. Якщо про вищезазначені обставини не буде повідомлено протягом 5
                (п’яти) календарних днів, Сторона, для якої настала подія непереборної сили, не може на неї посилатися, крім випадку, коли ця
                обставина перешкоджає відправці такого повідомлення.
            </p>
            <p>
                11.4. Сертифікат(свідоцтво), виданий відповідною торговою(торгово-промисловою) палатою або іншим компетентним
                органом, є достатнім підтвердженням наявності і тривалості обставин непереборної сили. Засвідчена копія сертифікату повинна
                бути надана іншій Стороні протягом 5(п’яти) календарних днів з дня отримання сертифікату. Якщо засвідчену копію сертифікату
                не було надано іншій Стороні протягом 5(п’яти) календарних днів з дня отримання сертифікату, то Сторона, для якої настала
                подія непереборної сили, не може на неї посилатися, крім випадку, коли ця обставина перешкоджає відправці такого
                повідомлення.
            </p>
        </article>
        <article>
            <h3>12. ТЕРМІН ДІЇ ДОГОВОРУ І ІНШІ УМОВИ</h3>
            <p>
                12.1. Цей Договір вступає в силу з дати його підписання Сторонами і діє до 31 грудня 2016 року включно. Закінчення строку дії
                Договору не звільняє винну Сторону від відповідальності за його невиконання. Закінчення строку дії Договору не припиняє
                зобов’язання Сторін, які виникли на підставіцього Договору.
            </p>
            <p>
                12.2. Всі зміни і доповнення до цього Договору та Додаткові угоди до цього Договору складаються у письмовій формі і
                підписуються Сторонами та скріплюються печатками обох Сторін.
            </p>
            <p>
                12.3. Сторони зобов'язуються повідомляти одна одну у разі прийняття рішення про ліквідацію, реорганізацію або банкрутство
                однієї зі Сторін в строк не пізніше ніж за 3(три) календарні дні від дати прийняття такого рішення. У ті ж терміни Сторони
                повідомляють одна одну про зміну банківських реквізитів, поштової, юридичної адреси, зміну керівника, тощо. Сторона, яка не
                повідомила іншу Сторону про зміну банківських реквізитів, своєї адреси, або про зміну керівника самостійно несе всі можливі
                ризики та несприятливі для себе наслідки такого неповідомлення.
            </p>
            <p>
                12.4. Даний Договір складений українською мовою при повному розумінні Сторонами його умов у двох автентичних
                примірниках, якімають однакову юридичну силу, - по одному для кожної зі Сторін.
            </p>
            <p>
                12.5. Під час укладання даного Договору, Сторони підтверджують, що кожна зі Сторін діє в межах своїх повноважень, керуючись
                законодавством України. Особи, що підписали цей Договір, діють в межах наданих їм статутом та/або довіреністю повноважень,
                атакож не є усуненими від виконання своїх обов'язків.
            </p>
            <p>
                12.6. Всі повідомлення, що направляються Сторонами одна одній відповідно до цього Договору, повинні бути здійснені у
                письмовій формі та скріплені підписом уповноваженої особи і печаткою відповідної Сторони.
            </p>
            <p>
                12.7. Продавець має статус платника ПДВ. Продавець є платником акцизного податку.
            </p>
            <p>
                12.8. Покупець має статус платника ПДВ. Покупець є платником акцизного податку.
            </p>
        </article>
        <table>
            <caption>РЕКВІЗИТИ СТОРІН:</caption>
            <tr>
                <th>ПРОДАВЕЦЬ:</th>
                <th>ПОКУПЕЦЬ:</th>
            </tr>
            <tr>
                <td><b>@Model.Seller.LongName</b></td>
                <td><b>@Model.Buyer.LongName</b></td>
            </tr>
            <tr>
                <td>Місцезнаходження : @Model.Seller.Address</td>
                <td>Місцезнаходження : @Model.Buyer.Address</td>
            </tr>
            <tr>
                <td>Адреса для надсилання кореспонденції: @Model.Seller.PostAddress</td>
                <td>Адреса для надсилання кореспонденції: @Model.Buyer.PostAddress</td>
            </tr>
            <tr>
                <td>Код ЄДРПОУ: @Model.Seller.Code</td>
                <td>Код ЄДРПОУ: @Model.Buyer.Code</td>
            </tr>
            <tr>
                <td>ІПН: @Model.Seller.TaxCode</td>
                <td>ІПН: @Model.Buyer.TaxCode</td>
            </tr>
            <tr>
                <td>Тел.: @Model.Seller.ContragentPhone</td>
                <td>Тел.: @Model.Buyer.ContragentPhone</td>
            </tr>
            <tr>
                <td>Факс: @Model.Seller.ContragentFax</td>
                <td>Факс: @Model.Buyer.ContragentPhone</td>
            </tr>
            <tr>
                <td>Банківські рахунки: @Model.Trade.BankBill.BillNumber, @Model.Trade.BankBill.BankName, МФО @Model.Trade.BankBill.Mfo</td>
                <td>Банківські рахунки: @Model.Buyer.BankBillRequired.BillNumber, @Model.Buyer.BankBillRequired.BankName, МФО @Model.Buyer.BankBillRequired.Mfo</td>
            </tr>
            <tr>
                <td>Керівник: </td>
                <td>Керівник: </td>
            </tr>
            <tr>
                <td>_________________/______________/</td>
                <td>_________________/______________/</td>
            </tr>
        </table>
  
</body>
</html>
